<app-breadcrumbs
    [title]="'Галерея ' + titlePage()"
    [list]="[{name:'Галерея', url:null}]"
></app-breadcrumbs>
<div class="content-container sh-page-layout-default">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="blog-page-list sh-pagination-left">
                <div *ngIf="!loading else loadingTmp" class="sh-group blog-list blog-style-gallery blog-style-masonry-card blog-dividing-line-on">
                    <article [id]="'post-'+item.id" *ngFor="let item of list; index as key"
                             class="post-item post type-post status-publish format-gallery has-post-thumbnail hentry">
                        <div class="post-container">
                            <div class="post-thumbnail">
                                <img [src]="item.filename" class="attachment-large size-large wp-post-image" [alt]="item.alt"
                                     width="350" height="219">
                                <a [href]="item.url" class="post-overlay">
                                <div class="post-overlay-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                                <div class="post-categories-container">
                                    <div class="post-categories">
                                        <a [href]="getCategoryUrl(item.category.translit)">
                                            {{item.category.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="sh-load-more" (click)="loadMore()"> Загрузить еще </div>
                <div class="sh-pagination sh-default-color">
                    <app-paginaton [currentPage]="page" [lastPage]="lastPage" (changePage)="changePage($event)"></app-paginaton>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTmp>
    <div class="sh-group blog-list blog-style-masonry blog-style-masonry-card blog-dividing-line-on">
        <article *ngFor="let item of [1,2,3,4,5,6,7,8,9]"
                 class="post-item post type-post status-publish format-gallery has-post-thumbnail hentry">
            <app-loader
                [image]="true"
                [heightImage]="219"
                [widthImage]="350"
                [inline]="false"
                [lines]="2"
                [lineWidth]="90"
            ></app-loader>
        </article>
    </div>
</ng-template>
