
    <h2>Супер Админ</h2>
    <hr>
    <dl class="dl-horizontal-profile" *ngIf="!loading">
        <dt>Nickname</dt>
        <dd>{{user.username}}</dd>
        <dt>Имя</dt>
        <dd>{{user.firstName}} {{user.lastName}}</dd>
        <dt>Email</dt>
        <dd>{{user.email}}</dd>
        <dt>Рейтинг</dt>
        <dd>0</dd>
        <dt>Дата рождения</dt>
        <dd>{{user.birthDate | date}}</dd>
        <dt>Пол</dt>
        <dd>Мужской</dd>
        <dt>Дата регистрации</dt>
        <dd>{{user.dateCreate | date}}</dd>
        <dt>Последний визит</dt>
        <dd>{{user.lastVisit | date}}</dd>
        <dt>О себе</dt>
        <dd>{{user.about}}</dd>
    </dl>
    <hr>
