<div class="content-container sh-page-layout-default" style="transform: none;">
    <div class="container entry-content" style="transform: none;">
        <div id="content-wrapper" class="content-wrapper-with-sidebar" style="transform: none;">
            <div id="content" class="blog-page-list content-with-sidebar-right sh-pagination-left">
                <div class="sh-group blog-list blog-style-masonry blog-style-masonry-card blog-dividing-line-on">
                    <ng-container *ngFor="let post of list; index as key">
                        <article [id]="'post-'+post.id"
                                 class="post-item post type-post status-publish format-standard has-post-thumbnail hentry">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <img [src]="post.main_image" class="attachment-gillion-masonry size-gillion-masonry wp-post-image"
                                         [alt]="post.name">
                                    <a [href]="post.url" class="post-overlay">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a>
                                    <div class="post-categories-container">
                                        <div class="post-categories">
                                            <a [href]="post.cat_translit">{{post.category}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-content-container">
                                    <a [href]="post.url" class="post-title">
                                        <h2>{{post.name}}
                                            <span class="post-read-later post-read-later-guest tooltipstered">
                                                <i class="fa fa-bookmark-o"></i>
                                            </span>
                                        </h2>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-meta-content">
                                            <span class="post-auhor-date">
                                                <span *ngIf="post.author != undefined">
                                                    <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                                        Gillion
                                                    </a>,
                                                </span>
                                                <a [href]="post.url" class="post-date">
                                                    {{ post.date_create }}
                                                </a>
                                            </span>
                                            <a [href]="post.url+'#comments'" class="post-comments" *ngIf="post.count_comment">
                                                <i class="icon icon-bubble"></i>
                                                {{post.count_comment }}
                                            </a>
                                            <span class="responsive-post-read-later">
                                                <span class="post-read-later post-read-later-guest tooltipstered">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-content" [innerHTML]="post.preview"></div>
                                </div>
                            </div>
                        </article>
                    </ng-container>
                </div>
                <div class="sh-pagination sh-default-color">
                    <ul class="page-numbers">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers"
                               href="https://gillion.shufflehound.com/page-layouts/sidebar-right/page/2/">2</a></li>
                        <li><a class="page-numbers"
                               href="https://gillion.shufflehound.com/page-layouts/sidebar-right/page/3/">3</a></li>
                        <li><a class="page-numbers"
                               href="https://gillion.shufflehound.com/page-layouts/sidebar-right/page/4/">4</a></li>
                        <li><a class="page-numbers"
                               href="https://gillion.shufflehound.com/page-layouts/sidebar-right/page/5/">5</a></li>
                        <li><a class="next page-numbers"
                               href="https://gillion.shufflehound.com/page-layouts/sidebar-right/page/2/">Next</a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar" class="sidebar-right"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1230.65px;">
                    <div class="sidebar-container">
                        <div id="subscribe-4"
                             class="widget_sh_mailChimp widget_sh_mailChimp_style2 style3 widget-item widget_subscribe">
                            <div class="sh-widget-title-styling"><h3 class="widget-title">Subscribe</h3></div>
                            <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-848" method="post" data-id="848"
                                  data-name="">
                                <div class="mc4wp-form-fields"><p><input type="email" name="EMAIL"
                                                                         placeholder="Your email address" required="">
                                </p>
                                    <p><input type="submit" value="Sign up"></p></div>
                                <label style="display: none !important;">Leave this field empty if you're human: <input
                                    type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                    autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp"
                                                                      value="1620151378"><input type="hidden"
                                                                                                name="_mc4wp_form_id"
                                                                                                value="848"><input
                                type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2">
                                <div class="mc4wp-response"></div>
                            </form>
                            <p class="widget-quote-description">* You will receive the latest news and updates on
                                your favorite celebrities!</p></div>
                        <div id="posts_slider-8" class="widget_facebook widget-item widget_posts_slider">
                            <div class="widget-slide-arrows-container">
                                <div class="sh-widget-title-styling"><h3 class="widget-title">Quick Cook!</h3></div>
                            </div>
                            <div
                                class="sh-widget-posts-slider sh-widget-posts-slider-init slick-initialized slick-slider">
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track"
                                         style="opacity: 1; width: 690px; transform: translate3d(0px, 0px, 0px);"
                                         role="listbox">
                                        <div class="sh-widget-posts-slider-group slick-slide slick-current slick-active"
                                             data-slick-index="0" aria-hidden="false" style="width: 321px;"
                                             tabindex="-1" role="option">
                                            <div
                                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">
                                                <div
                                                    href="https://gillion.shufflehound.com/2015/06/04/tasty-easy-to-make-desserts-with-blueberries/"
                                                    class="post-thumbnail"><img
                                                    src="https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/w3-420x265.jpg"
                                                    class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                                    alt="" loading="lazy" width="420" height="265"> <a
                                                    href="https://gillion.shufflehound.com/2015/06/04/tasty-easy-to-make-desserts-with-blueberries/"
                                                    class="post-overlay" tabindex="0">
                                                    <div class="post-overlay-content"><span></span> <span></span>
                                                        <span></span></div>
                                                </a></div>
                                                <a href="https://gillion.shufflehound.com/2015/06/04/tasty-easy-to-make-desserts-with-blueberries/"
                                                   tabindex="0"><h5 class="post-title"> Tasty &amp; Easy To Make
                                                    Desserts With Blueberries&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="1498"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                <div class="post-meta">
                                                    <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author" tabindex="0">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2015/06/04/tasty-easy-to-make-desserts-with-blueberries/"
                                                        class="post-date" tabindex="0"> 6 years ago </a> </span> <a
                                                        href="https://gillion.shufflehound.com/2015/06/04/tasty-easy-to-make-desserts-with-blueberries/#comments"
                                                        class="post-comments" tabindex="0"> <i
                                                        class="icon icon-bubble"></i> 0 </a> <span
                                                        class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="1498"><i
                                                        class="fa fa-bookmark-o"></i></span> </span></div>
                                                </div>
                                                <div class="post-content"><p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Nam laoreet, nunc et accumsan cursus, neque eros
                                                    sodales lectus, in fermentum…</p></div>
                                            </div>
                                            <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1"><a
                                                href="https://gillion.shufflehound.com/2015/06/04/best-old-school-recipes-to-die-for/"
                                                class="sh-widget-posts-slider-thumbnail sh-post-review-mini"
                                                style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/w4-80x80.jpg);"
                                                tabindex="0">
                                                <div class="post-overlay-small"></div>
                                            </a>
                                                <div class="sh-widget-posts-slider-content"><a
                                                    href="https://gillion.shufflehound.com/2015/06/04/best-old-school-recipes-to-die-for/"
                                                    tabindex="0"><h5 class="post-title"> Best Old School Recipes To Die
                                                    For&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="1500"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                    <div class="post-meta">
                                                        <div class="post-meta-content"><a
                                                            href="https://gillion.shufflehound.com/2015/06/04/best-old-school-recipes-to-die-for/#comments"
                                                            class="post-comments" tabindex="0"> <i
                                                            class="icon icon-bubble"></i> 0 </a> <span
                                                            class="post-views"> <i
                                                            class="icon icon-eye"></i> 3644 </span> <span
                                                            class="responsive-post-read-later"> &nbsp;<span
                                                            class="post-read-later post-read-later-guest tooltipstered"
                                                            href="#login-register" data-type="add" data-id="1500"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1"><a
                                                href="https://gillion.shufflehound.com/2015/06/04/japanese-unagi-dumplings-that-will-leave-you-speechless/"
                                                class="sh-widget-posts-slider-thumbnail sh-post-review-mini"
                                                style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/w5-80x80.jpg);"
                                                tabindex="0">
                                                <div class="post-overlay-small"></div>
                                            </a>
                                                <div class="sh-widget-posts-slider-content"><a
                                                    href="https://gillion.shufflehound.com/2015/06/04/japanese-unagi-dumplings-that-will-leave-you-speechless/"
                                                    tabindex="0"><h5 class="post-title"> Japanese Unagi Dumplings That
                                                    Will Leave You Speechless&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="1502"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                    <div class="post-meta">
                                                        <div class="post-meta-content"><a
                                                            href="https://gillion.shufflehound.com/2015/06/04/japanese-unagi-dumplings-that-will-leave-you-speechless/#comments"
                                                            class="post-comments" tabindex="0"> <i
                                                            class="icon icon-bubble"></i> 0 </a> <span
                                                            class="post-views"> <i
                                                            class="icon icon-eye"></i> 3016 </span> <span
                                                            class="responsive-post-read-later"> &nbsp;<span
                                                            class="post-read-later post-read-later-guest tooltipstered"
                                                            href="#login-register" data-type="add" data-id="1502"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sh-widget-posts-slider-group slick-slide" data-slick-index="1"
                                             aria-hidden="true" style="width: 321px;" tabindex="-1" role="option">
                                            <div
                                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">
                                                <div
                                                    href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                                                    class="post-thumbnail"><img
                                                    src="https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/27-420x265.jpg"
                                                    class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                                    alt="" loading="lazy" width="420" height="265"> <a
                                                    href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                                                    class="post-overlay" tabindex="-1">
                                                    <div class="post-overlay-content"><span></span> <span></span>
                                                        <span></span></div>
                                                </a>
                                                    <div class="post-review-svg">
                                                        <div class="sh-pie loaded" data-score="8.2" data-offset="22.32">
                                                            <svg width="46" height="46" class="sh-pie-svg">
                                                                <circle r="21" cx="23" cy="23" fill="transparent"
                                                                        stroke-dasharray="128" stroke-dashoffset="0"
                                                                        style="stroke-dashoffset: 22.32px;"></circle>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="post-review post-review-standard">
                                                        <div class="post-review-score"> 8<span>.2</span></div>
                                                    </div>
                                                </div>
                                                <a href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                                                   tabindex="-1"><h5 class="post-title"> Review Of Healthy Breakfast
                                                    Meals For Energy Boost&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="61"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                <div class="post-meta">
                                                    <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author" tabindex="-1">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                                                        class="post-date" tabindex="-1"> 3 years ago </a> </span> <a
                                                        href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/#comments"
                                                        class="post-comments" tabindex="-1"> <i
                                                        class="icon icon-bubble"></i> 0 </a> <span
                                                        class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="61"><i
                                                        class="fa fa-bookmark-o"></i></span> </span></div>
                                                </div>
                                                <div class="post-content"><p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Quisque hendrerit fringilla enim, ut scelerisque
                                                    dui. In hac habitasse platea dictumst….</p></div>
                                            </div>
                                            <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1"><a
                                                href="https://gillion.shufflehound.com/2017/01/01/the-single-most-important-thing-you-need-to-know-about-success/"
                                                class="sh-widget-posts-slider-thumbnail sh-post-review-mini"
                                                style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/16-1-80x80.jpg);"
                                                tabindex="-1">
                                                <div class="post-overlay-small"></div>
                                            </a>
                                                <div class="sh-widget-posts-slider-content"><a
                                                    href="https://gillion.shufflehound.com/2017/01/01/the-single-most-important-thing-you-need-to-know-about-success/"
                                                    tabindex="-1"><h5 class="post-title"> The Single Most Important
                                                    Thing You Need To Know About Success&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="406"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                    <div class="post-meta">
                                                        <div class="post-meta-content"><a
                                                            href="https://gillion.shufflehound.com/2017/01/01/the-single-most-important-thing-you-need-to-know-about-success/#comments"
                                                            class="post-comments" tabindex="-1"> <i
                                                            class="icon icon-bubble"></i> 4 </a> <span
                                                            class="post-views"> <i
                                                            class="icon icon-eye"></i> 6376 </span> <span
                                                            class="responsive-post-read-later"> &nbsp;<span
                                                            class="post-read-later post-read-later-guest tooltipstered"
                                                            href="#login-register" data-type="add" data-id="406"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1"><a
                                                href="https://gillion.shufflehound.com/2017/01/31/new-coffee-place-you-have-to-visit/"
                                                class="sh-widget-posts-slider-thumbnail sh-post-review-mini"
                                                style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/9-1-80x80.jpg);"
                                                tabindex="-1">
                                                <div class="post-overlay-small"></div>
                                            </a>
                                                <div class="sh-widget-posts-slider-content"><a
                                                    href="https://gillion.shufflehound.com/2017/01/31/new-coffee-place-you-have-to-visit/"
                                                    tabindex="-1"><h5 class="post-title"> New Coffee Place You Have To
                                                    Visit&nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="1494"><i
                                                        class="fa fa-bookmark-o"></i></span></h5></a>
                                                    <div class="post-meta">
                                                        <div class="post-meta-content"><a
                                                            href="https://gillion.shufflehound.com/2017/01/31/new-coffee-place-you-have-to-visit/#comments"
                                                            class="post-comments" tabindex="-1"> <i
                                                            class="icon icon-bubble"></i> 0 </a> <span
                                                            class="post-views"> <i
                                                            class="icon icon-eye"></i> 4061 </span> <span
                                                            class="responsive-post-read-later"> &nbsp;<span
                                                            class="post-read-later post-read-later-guest tooltipstered"
                                                            href="#login-register" data-type="add" data-id="1494"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-slide-arrows sh-carousel-buttons-styling">
                                <button type="button" class="slick-prev slick-arrow slick-disabled" aria-disabled="true"
                                        style=""><i class="icon icon-arrow-left-circle"></i></button>
                                <button type="button" class="slick-next slick-arrow" style="" aria-disabled="false"><i
                                    class="icon icon-arrow-right-circle"></i></button>
                            </div>
                        </div>
                        <div id="null-instagram-feed-4" class="widget_social_links widget-item null-instagram-feed">
                            <div class="sh-widget-title-styling"><h3 class="widget-title">Instagram</h3></div>
                            <style media="screen">.null-instagram-feed .instagram_gallery a {
                                width: 50%;
                            }

                            .sh-instagram-widget-columns3 .null-instagram-feed .instagram_gallery a {
                                width: 33.3%;
                            }

                            body .sh-footer-instagram .null-instagram-feed {
                                padding: 0 10px 20px 10px;
                            }

                            body .sh-footer-instagram .null-instagram-feed .instagram_gallery a {
                                width: 16.6666666667%;
                            }

                            @media (max-width: 767px) {
                                body .sh-footer-instagram .null-instagram-feed .instagram_gallery a {
                                    width: 33.3%;
                                }
                            }

                            .sh-widget-instagramv2 a {
                                display: inline-block;
                                vertical-align: top;
                                padding: 5px;
                                position: relative;
                                overflow: hidden;
                            }

                            .sh-widget-instagramv2 a:before {
                                content: "\f16d";
                                font: normal normal normal 14px/1 FontAwesome;
                                color: #fff;
                                font-size: 21px;

                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: 5px;
                                opacity: 0;
                                transition: 0.5s opacity ease-in-out;
                                border-radius: 8px;
                                background-color: rgba(47, 47, 47, 0.3);
                                background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #232323);
                                background: -moz-linear-gradient(rgba(0, 0, 0, 0), #232323);
                                background: -o-linear-gradient(rgba(0, 0, 0, 0), #232323);
                                background: linear-gradient(rgba(47, 47, 47, 0.1), rgba(47, 47, 47, 0.3));
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .sh-widget-instagramv2 a:hover:before {
                                opacity: 1;
                            }

                            .sh-widget-instagramv2 img {
                                border-radius: 8px;
                            }

                            .sh-widget-instagramv2 img {
                                width: 100% !important;
                            }</style>
                            <div id="instagram-feed1" class="sh-widget-instagramv2">
                                <div class="instagram_gallery"><a href="https://www.instagram.com/p/BWXv4_DF3hH"
                                                                  class="instagram-image" rel="noopener"
                                                                  target="_blank"><img
                                    src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19933152_373524159717633_3024386626903080960_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-1.cdninstagram.com&amp;_nc_cat=109&amp;_nc_ohc=wSqyVwoteGwAX-k3-DF&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=aa8e668b0238f70842390bdedfa85157&amp;oe=60B56C95&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a><a
                                    href="https://www.instagram.com/p/BWXv3HklOkG" class="instagram-image"
                                    rel="noopener" target="_blank"><img
                                    src="https://scontent-arn2-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19932982_560355181020464_8901998080979632128_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-2.cdninstagram.com&amp;_nc_cat=108&amp;_nc_ohc=nUQjunfalPcAX9A17--&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=4be475115e4bf9a563ef8dd87c25d182&amp;oe=60B75595&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a><a
                                    href="https://www.instagram.com/p/BWXv0GCFMbE" class="instagram-image"
                                    rel="noopener" target="_blank"><img
                                    src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19932970_1381498488608195_5407864064799932416_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-1.cdninstagram.com&amp;_nc_cat=111&amp;_nc_ohc=U5snQgYADZEAX8gpDXv&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=c148f4cd2fd77a01521366366e199aa1&amp;oe=60B741FB&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a><a
                                    href="https://www.instagram.com/p/BWXvwiFFl6F" class="instagram-image"
                                    rel="noopener" target="_blank"><img
                                    src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19955140_1757167267631699_1332027632329424896_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-1.cdninstagram.com&amp;_nc_cat=111&amp;_nc_ohc=ceoiDA6MgzwAX_Nnr_g&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=bdf7fc93a652ac368999a516377bf998&amp;oe=60B801FD&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a><a
                                    href="https://www.instagram.com/p/BWXvq7AFf02" class="instagram-image"
                                    rel="noopener" target="_blank"><img
                                    src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19932453_1917664118450791_7171734105938198528_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-1.cdninstagram.com&amp;_nc_cat=107&amp;_nc_ohc=pdmKK7C_aXQAX-3OX14&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=22ad13ce0e0cf43b9a8c803e0e1d54ac&amp;oe=60B63CCC&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a><a
                                    href="https://www.instagram.com/p/BWXviesFnlz" class="instagram-image"
                                    rel="noopener" target="_blank"><img
                                    src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/19932918_151085448774707_2399035682048704512_n.jpg?tp=1&amp;_nc_ht=scontent-arn2-1.cdninstagram.com&amp;_nc_cat=111&amp;_nc_ohc=GIeoPQxtsN8AX_IZqrv&amp;edm=ABfd0MgBAAAA&amp;ccb=7-4&amp;oh=4846e47f6bf8b6b79c9aa8feb485d6aa&amp;oe=60B874E4&amp;_nc_sid=7bff83"
                                    alt="Photo by Gillion foodie on July 10, 2017."></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="resize-sensor"
                         style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div class="resize-sensor-expand"
                             style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 371px; height: 1376px;"></div>
                        </div>
                        <div class="resize-sensor-shrink"
                             style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div
                                style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
