<div
    class="sh-blog-fancy-title-container sh-blog-fancy-title-container-sides">
    <h2 class="sh-blog-fancy-title">Статьи</h2>
</div>
<div class="sh-blog-standard-posts">
    <div *ngIf="list.length else loadingTmp"
        class="sh-group blog-list blog-style-grid blog-style-grid-element blog-style-columns2 blog-dividing-line-off">
        <ng-container *ngFor="let item of list; index as key">
            <article *ngIf="key != 3"
                class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-skin tag-tips tag-tricks">
                <div class="post-container">
                    <div class="post-thumbnail">
                        <div class="sh-ratio">
                            <div class="sh-ratio-container">
                                <div class="sh-ratio-content"
                                     [style]="'background-image: url('+ item.main_image +');'">
                                </div>
                            </div>
                        </div>
                        <a [href]="item.url"
                            class="post-overlay">
                            <div class="post-overlay-content"><span></span>
                                <span></span> <span></span>
                            </div>
                        </a>
                        <div class="post-categories-container">
                            <div class="post-categories">
                                <a [href]="'/notes/category/'+ item.cat_translit">
                                    {{ item.category }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-content-container">
                        <a href="https://gillion.shufflehound.com/2018/02/24/tips-trick-for-healthy-glowing-skin/"
                            class="post-title">
                            <h2>
                                {{ item.name }}
                                <span class="post-read-later post-read-later-guest tooltipstered">
                                    <i class="fa fa-bookmark-o"></i>
                                </span>
                            </h2>
                        </a>
                        <div class="post-meta">
                            <div class="post-meta-content">
                                <span class="post-auhor-date">
                                    <span *ngIf="item.author != undefined">
                                        <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                            Gillion
                                        </a>,
                                    </span>
                                    <a [href]="item.url" class="post-date">
                                        {{ item.date_create }}
                                    </a>
                                </span>
                                <a [href]="item.url+'#comments'"  class="post-comments">
                                    <i class="icon icon-bubble"></i>
                                    {{ item.count_comment }}
                                </a>
                                <span class="post-readtime" *ngIf="item.time_read != undefined">
                                    <i class="icon icon-clock"></i>
                                    {{ item.time_read }} мин. <span>чтения</span>
                                </span>
                                <span class="responsive-post-read-later">
                                    <span class="post-read-later post-read-later-guest tooltipstered">
                                        <i class="fa fa-bookmark-o"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="post-content" [innerHTML]="item.preview"></div>
                    </div>
                </div>
            </article>
            <article *ngIf="key == 3"
                class="post-item post type-post status-publish format-quote has-post-thumbnail hentry category-motivation tag-lifestyle tag-motivation post_format-post-format-quote">
                <div class="post-container">
                    <div class="post-quote-link">
                        <div class="sh-ratio">
                            <div
                                class="sh-ratio-container sh-ratio-container-130">
                                <div class="sh-ratio-content"
                                     [style]="'background-image: url('+ item.main_image +');' ">
                                    <div class="post-quote-link-content">
                                        <a [href]="item.url" class="post-title">
                                            <h2>{{ item.name }}</h2>
                                        </a>
                                    </div>
                                    <div class="post-quote-link-meta">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="post-meta">
                                                    <div class="post-meta-content">
                                                        <span class="post-auhor-date">
                                                            <a [href]="item.url" class="post-date">
                                                              {{ item.date_create }}
                                                            </a>
                                                        </span>
                                                        <a [href]="item.url+'#comments'" class="post-comments">
                                                            <i class="icon icon-bubble"></i>
                                                            {{ item.count_comment }}
                                                        </a>
                                                        <span class="responsive-post-read-later">
                                                            <span class="post-read-later post-read-later-guest tooltipstered">
                                                                <i class="fa fa-bookmark-o"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 text-right post-quote-link-icon">
                                                <i class="ti-quote-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </ng-container>
        <ng-container *ngIf="loadmore">
            <article
                *ngFor="let item of [1,2,3,4,5,6]"
                class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-skin tag-tips tag-tricks">
                <div class="post-container">
                    <app-loader
                        [image]="true"
                        [heightImage]="255"
                        [widthImage]="405"
                        [inline]="false"
                        [lines]="6"
                        [lineWidth]="100"
                    ></app-loader>
                </div>
            </article>
        </ng-container>
    </div>
    <div class="sh-load-more"
         *ngIf="(pagination.currentPage<pagination.totalPages) && currentPage==1"
         (click)="loadMore()">
        Загрузить еще
    </div>
</div>

<ng-template #loadingTmp>
    <div class="sh-group blog-list blog-style-grid blog-style-grid-element blog-style-columns2 blog-dividing-line-off">
        <article
            *ngFor="let item of [1,2,3,4,5,6]"
            class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-skin tag-tips tag-tricks">
            <div class="post-container">
                <app-loader
                    [image]="true"
                    [heightImage]="255"
                    [widthImage]="405"
                    [inline]="false"
                    [lines]="6"
                    [lineWidth]="100"
                ></app-loader>
            </div>
        </article>
    </div>
</ng-template>
