<div
    class="sh-blog-fancy-title-container sh-blog-fancy-title-container-sides">
    <h2 class="sh-blog-fancy-title">Статьи</h2>
</div>
<div class="sh-blog-standard-posts">
    <div class="sh-group blog-list blog-style-grid blog-style-grid-element blog-style-columns2 blog-dividing-line-off ">
        <article *ngFor="let item of list | keyvalue"
            class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-skin tag-tips tag-tricks">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 [style]="'background-image: url('+ item.value.main_image +');'">
                            </div>
                        </div>
                    </div>
                    <a [href]="item.value.url"
                        class="post-overlay">
                        <div class="post-overlay-content"><span></span>
                            <span></span> <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container">
                        <div class="post-categories">
                            <a [href]="'/notes/category/'+item.value.cat_translit">
                                {{ item.value.category }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container">
                    <a href="https://gillion.shufflehound.com/2018/02/24/tips-trick-for-healthy-glowing-skin/"
                    class="post-title">
                    <h2>
                        {{ item.value.name }}
                        <span class="post-read-later post-read-later-guest tooltipstered">
                            <i class="fa fa-bookmark-o"></i>
                        </span>
                    </h2>
                </a>
                    <div class="post-meta">
                        <div class="post-meta-content"> <span
                            class="post-auhor-date"> <span> <a
                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                            class="post-author">Gillion</a></span>,
                                        <a href="https://gillion.shufflehound.com/2018/02/24/tips-trick-for-healthy-glowing-skin/"
                                           class="post-date"> 3 years ago </a>
                                      </span> <a
                            href="https://gillion.shufflehound.com/2018/02/24/tips-trick-for-healthy-glowing-skin/#comments"
                            class="post-comments"> <i
                            class="icon icon-bubble"></i> 2 </a>
                            <span class="post-readtime"> <i
                                class="icon icon-clock"></i> 3 min
                                        <span>read</span> </span> <span
                                class="responsive-post-read-later">
                                        &nbsp;<span
                                class="post-read-later post-read-later-guest tooltipstered"
                                href="#login-register"
                                data-type="add" data-id="67"><i
                                class="fa fa-bookmark-o"></i></span>
                                      </span>
                        </div>
                    </div>
                    <div class="post-content" [innerHTML]="item.value.preview"></div>
                </div>
            </div>
        </article>
        <article class="post-item post type-post status-publish format-gallery has-post-thumbnail hentry category-health category-review tag-best tag-breakfast tag-health post_format-post-format-gallery">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/27-585x372.jpg);">
                            </div>
                        </div>
                    </div>
                    <a
                        href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                        class="post-overlay">
                        <div class="post-overlay-content"><span></span>
                            <span></span> <span></span>
                        </div>
                    </a>
                    <div class="post-review-svg">
                        <div class="sh-pie" data-score="8.2"
                             data-offset="22.32">
                            <svg width="46"
                                 height="46" class="sh-pie-svg">
                                <circle r="21" cx="23" cy="23"
                                        fill="transparent"
                                        stroke-dasharray="128"
                                        stroke-dashoffset="0"
                                        style="stroke-dashoffset: 124px;">
                                </circle>
                            </svg>
                        </div>
                    </div>
                    <div class="post-review post-review-standard">
                        <div class="post-review-score"> 8<span>.2</span>
                        </div>
                    </div>
                    <div class="post-categories-container"><a
                        href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                        class="post-format-icon"><i
                        class="ti-gallery"></i></a>
                        <div class="post-categories"><a
                            href="https://gillion.shufflehound.com/category/health/">Health</a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container"><a
                    href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                    class="post-title">
                    <h2> Review Of Healthy Breakfast Meals For
                        Energy Boost&nbsp;<span
                            class="post-read-later post-read-later-guest tooltipstered"
                            href="#login-register" data-type="add"
                            data-id="61"><i
                            class="fa fa-bookmark-o"></i></span>
                    </h2>
                </a>
                    <div class="post-meta">
                        <div class="post-meta-content"> <span
                            class="post-auhor-date"> <span> <a
                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                            class="post-author">Gillion</a></span>,
                                        <a href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/"
                                           class="post-date"> 3 years ago </a>
                                      </span> <a
                            href="https://gillion.shufflehound.com/2018/01/31/healthy-breakfast-meals-for-energy-boost/#comments"
                            class="post-comments"> <i
                            class="icon icon-bubble"></i> 0 </a>
                            <span class="post-readtime"> <i
                                class="icon icon-clock"></i> 2 min
                                        <span>read</span> </span> <span
                                class="responsive-post-read-later">
                                        &nbsp;<span
                                class="post-read-later post-read-later-guest tooltipstered"
                                href="#login-register"
                                data-type="add" data-id="61"><i
                                class="fa fa-bookmark-o"></i></span>
                                      </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Lorem
                            ipsum dolor sit amet, consectetur adipiscing
                            elit. Quisque hendrerit
                            fringilla enim, ut scelerisque dui. In hac
                            habitasse platea dictumst….</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-business category-tech tag-bitcoin tag-crypto tag-finance tag-it">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/28-420x265.jpg);">
                            </div>
                        </div>
                    </div>
                    <a
                        href="https://gillion.shufflehound.com/2018/01/31/new-cryptocurrency-that-will-kill-of-bitcoin/"
                        class="post-overlay">
                        <div class="post-overlay-content"><span></span>
                            <span></span> <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container">
                        <div class="post-categories"><a
                            href="https://gillion.shufflehound.com/category/business/">Business</a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container"><a
                    href="https://gillion.shufflehound.com/2018/01/31/new-cryptocurrency-that-will-kill-of-bitcoin/"
                    class="post-title">
                    <h2> New Cryptocurrency That Will Kill Of
                        Bitcoin&nbsp;<span
                            class="post-read-later post-read-later-guest tooltipstered"
                            href="#login-register" data-type="add"
                            data-id="55"><i
                            class="fa fa-bookmark-o"></i></span>
                    </h2>
                </a>
                    <div class="post-meta">
                        <div class="post-meta-content"> <span
                            class="post-auhor-date"> <span> <a
                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                            class="post-author">Gillion</a></span>,
                                        <a href="https://gillion.shufflehound.com/2018/01/31/new-cryptocurrency-that-will-kill-of-bitcoin/"
                                           class="post-date"> 3 years ago </a>
                                      </span> <a
                            href="https://gillion.shufflehound.com/2018/01/31/new-cryptocurrency-that-will-kill-of-bitcoin/#comments"
                            class="post-comments"> <i
                            class="icon icon-bubble"></i> 2 </a>
                            <span class="post-readtime"> <i
                                class="icon icon-clock"></i> 3 min
                                        <span>read</span> </span> <span
                                class="responsive-post-read-later">
                                        &nbsp;<span
                                class="post-read-later post-read-later-guest tooltipstered"
                                href="#login-register"
                                data-type="add" data-id="55"><i
                                class="fa fa-bookmark-o"></i></span>
                                      </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Lorem
                            ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam laoreet, nunc et
                            accumsan cursus, neque eros sodales lectus,
                            in fermentum…</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="post-item post type-post status-publish format-quote has-post-thumbnail hentry category-motivation tag-lifestyle tag-motivation post_format-post-format-quote">
            <div class="post-container">
                <div class="post-quote-link">
                    <div class="sh-ratio">
                        <div
                            class="sh-ratio-container sh-ratio-container-130">
                            <div class="sh-ratio-content"
                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/29-1024x768.jpg); ">
                                <div class="post-quote-link-content"><a
                                    href="https://gillion.shufflehound.com/2018/01/31/quote-of-the-day-31/"
                                    class="post-title">
                                    <h2>" To be yourself in a world
                                        that is constantly trying to
                                        make you something else is
                                        the greatest accomplishment
                                        "</h2>
                                </a>
                                    <p>- Unknown Author</p>
                                </div>
                                <div class="post-quote-link-meta">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="post-meta">
                                                <div
                                                    class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <a href="https://gillion.shufflehound.com/2018/01/31/quote-of-the-day-31/"
                                                       class="post-date">
                                                      3 years ago
                                                    </a> </span> <a
                                                    href="https://gillion.shufflehound.com/2018/01/31/quote-of-the-day-31/#comments"
                                                    class="post-comments">
                                                    <i
                                                        class="icon icon-bubble"></i>
                                                    0 </a> <span
                                                    class="responsive-post-read-later">
                                                    &nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register"
                                                    data-type="add"
                                                    data-id="471"><i
                                                    class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-3 text-right post-quote-link-icon">
                                            <i
                                                class="ti-quote-left"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-health category-people tag-depression tag-fight tag-girl">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/30-420x265.jpg);">
                            </div>
                        </div>
                    </div>
                    <a
                        href="https://gillion.shufflehound.com/2018/01/31/my-fight-with-depression-concussions/"
                        class="post-overlay">
                        <div class="post-overlay-content"><span></span>
                            <span></span> <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container">
                        <div class="post-categories"><a
                            href="https://gillion.shufflehound.com/category/health/">Health</a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container"><a
                    href="https://gillion.shufflehound.com/2018/01/31/my-fight-with-depression-concussions/"
                    class="post-title">
                    <h2> My Fight With Depression.
                        Concussions&nbsp;<span
                            class="post-read-later post-read-later-guest tooltipstered"
                            href="#login-register" data-type="add"
                            data-id="7"><i
                            class="fa fa-bookmark-o"></i></span>
                    </h2>
                </a>
                    <div class="post-meta">
                        <div class="post-meta-content"> <span
                            class="post-auhor-date"> <span> <a
                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                            class="post-author">Gillion</a></span>,
                                        <a href="https://gillion.shufflehound.com/2018/01/31/my-fight-with-depression-concussions/"
                                           class="post-date"> 3 years ago </a>
                                      </span> <a
                            href="https://gillion.shufflehound.com/2018/01/31/my-fight-with-depression-concussions/#comments"
                            class="post-comments"> <i
                            class="icon icon-bubble"></i> 0 </a>
                            <span class="post-readtime"> <i
                                class="icon icon-clock"></i> 3 min
                                        <span>read</span> </span> <span
                                class="responsive-post-read-later">
                                        &nbsp;<span
                                class="post-read-later post-read-later-guest tooltipstered"
                                href="#login-register"
                                data-type="add" data-id="7"><i
                                class="fa fa-bookmark-o"></i></span>
                                      </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Lorem
                            ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam laoreet, nunc et
                            accumsan cursus, neque eros sodales lectus,
                            in fermentum…</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="post-item post type-post status-publish format-video has-post-thumbnail hentry category-places tag-blue tag-brick tag-building tag-green post_format-post-format-video">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/31-585x372.jpg);">
                            </div>
                        </div>
                    </div>
                    <a
                        href="https://gillion.shufflehound.com/2018/01/31/beautiful-architecture-that-will-blow-your-mind/"
                        class="post-overlay">
                        <div class="post-overlay-content"><span></span>
                            <span></span> <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container"><a
                        href="https://gillion.shufflehound.com/2018/01/31/beautiful-architecture-that-will-blow-your-mind/"
                        class="post-format-icon"><i
                        class="ti-control-play"></i></a>
                        <div class="post-categories"><a
                            href="https://gillion.shufflehound.com/category/places/">Places</a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container"><a
                    href="https://gillion.shufflehound.com/2018/01/31/beautiful-architecture-that-will-blow-your-mind/"
                    class="post-title">
                    <h2> Beautiful Architecture That Will Blow Your
                        Mind&nbsp;<span
                            class="post-read-later post-read-later-guest tooltipstered"
                            href="#login-register" data-type="add"
                            data-id="493"><i
                            class="fa fa-bookmark-o"></i></span>
                    </h2>
                </a>
                    <div class="post-meta">
                        <div class="post-meta-content"> <span
                            class="post-auhor-date"> <a
                            href="https://gillion.shufflehound.com/2018/01/31/beautiful-architecture-that-will-blow-your-mind/"
                            class="post-date"> 3 years ago </a>
                                      </span> <a
                            href="https://gillion.shufflehound.com/2018/01/31/beautiful-architecture-that-will-blow-your-mind/#comments"
                            class="post-comments"> <i
                            class="icon icon-bubble"></i> 0 </a>
                            <span class="post-views"> <i
                                class="icon icon-eye"></i> 3714
                                      </span> <span
                                class="responsive-post-read-later">
                                        &nbsp;<span
                                class="post-read-later post-read-later-guest tooltipstered"
                                href="#login-register"
                                data-type="add" data-id="493"><i
                                class="fa fa-bookmark-o"></i></span>
                                      </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Lorem
                            ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam laoreet, nunc et
                            accumsan cursus, neque eros sodales lectus,
                            in fermentum…</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="sh-load-more" (click)="loadMore()"> Load more </div>
</div>
