<div class="sh-comments">
    <h3 class="sh-comments-position" id="comments"></h3>
    <div class="sh-blog-fancy-title-container">
        <h2 class="post-single-title"> {{count_comments}} Комментария</h2>
    </div>
    <ol class="sh-comment-list">
        <li class="comment even thread-even depth-1" *ngFor="let comment of comments">
            <h6 class="sh-comment-position" [id]="'comment-'+comment.id"></h6>
            <div [id]="'div-comment-'+comment.id" class="comment-body">
                <div class="comment-column-left">
                    <div class="comment-thumb">
                        <img alt="" [src]="comment.avatar"
                                class="avatar avatar-70 photo" width="70"
                                height="70" *ngIf="comment.avatar">
                        <img alt="" src="assets/images/noavatar.png"
                                class="avatar avatar-70 photo" width="70"
                                height="70" *ngIf="!comment.avatar">
                    </div>
                </div>
                <div class="comment-column-right">
                    <span class="sh-comment-author">
                        <a href="#" class="url">{{comment.author}}</a>
                    </span>
                    <span class="comment-reply-id" *ngIf="comment.reply">Ответ на комментарий {{ comment.reply.author }}</span>
                    <div class="sh-comment-content">
                        <p>{{comment.text}}</p>
                    </div>
                    <div class="reply post-meta">
                        <span class="sh-comment-date">
                            {{comment.created_at | date :'dd-MM-yyyy h:mm:ss'}}
                        </span>
                        <i class="icon icon-note sh-reply-link sh-comment-date-reply"
                           *ngIf="isAuthor(comment.author_id)"
                        ></i>
                        <span class="sh-reply-edit">
                            <a href="#" class="commentreply-edit"
                               *ngIf="isAuthor(comment.author_id)"
                               (click)="editComment(comment.id, $event)"
                            >
                                Редактировать
                            </a>
                        </span>
                        <i class="icon icon-action-redo sh-reply-link"></i>
                        <span class="sh-reply-link-button">
                            <a class="comment-reply-link" href="#" (click)="replyComment(comment.id, comment.author, $event)">
                                Ответить
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <div class="sh-comment-form" *ngIf="authService.isAuthenticated else Guest">
        <div id="respond" class="comment-respond" #commentForm>
            <h3 id="reply-title" class="comment-reply-title">
                Свой комментарий
                <small *ngIf="replyCommentId != 0">
                    <a rel="nofollow" id="cancel-comment-reply-link" href="" (click)="cancelReply($event)">
                        Отменить
                    </a>
                </small>
            </h3>
            <p class="comment-reply-info" *ngIf="replyCommentId != 0">
                Ответ на комментарий {{ replyUserName }}
            </p>
            <form method="post" id="commentform" class="comment-form" [formGroup]="form" (ngSubmit)="submitForm($event)">
                <label>Ваш комментарий</label>
                <p class="comment-form-comment">
                    <textarea id="comment" name="comment" cols="45" rows="8" required="" formControlName="comment"></textarea>
                </p>
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Оставить комментарий">
                </p>
            </form>
        </div>
    </div>
</div>

<ng-template #Guest>
    <div class="sh-comment-form">
        <p>Чтобы оставить комментарий нужно <a href="/login">войти</a> под своей учетной записью.</p>
        <p>Если у вас нет учетной записи, то можете <a href="/register">зарегистрироваться</a>.</p>
    </div>
</ng-template>
