.sh-comment-form{
    margin-bottom: 50px;
}
.comment-reply-id{
    font-size: 12px;
    margin-left: 20px;
}
.sh-reply-edit {
    margin-right: 10px;
}
.comments-pagination {
    display: flex;
    justify-content: center;
}
