<app-breadcrumbs
    [title]="post.name"
    [list]="[{name:post.category.name, url:post.category.url}, {name:post.name, url:null}]"
></app-breadcrumbs>
<div class="content-container sh-page-layout-default" style="transform: none;">
    <div class="container entry-content" style="transform: none;">
        <div id="content-wrapper" class="content-wrapper-with-sidebar" style="transform: none;">
            <div id="content" class="content-layout-sidebar-right content-with-sidebar-right">
                <div class="blog-single blog-style-single blog-style-single-share  blog-blockquote-style2  blog-style-post-standard">
                    <article *ngIf="!loading else loadingTmp" class="post-item post-item-single post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-health tag-lifestyle tag-long-life tag-tips">
                        <div class="post-type-content">
                            <div class="post-thumbnail">
                                <img [src]="post.main_image" [alt]="post.name">
                                <a [href]="post.main_image" class="post-lightbox"></a>
                            </div>
                        </div>
                        <div class="post-item-single-container">
                            <div class="post-content-share post-content-share-bar jssocials">
                                <div class="jssocials-shares">
                                    <div class="ya-share2" data-curtain data-color-scheme="whiteblack" data-limit="5"
                                         data-services="vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp"></div>
                                </div>
                            </div>
                            <div class="post-single-meta">
                                <div class="post-categories-container">
                                    <div class="post-categories">
                                        <a [href]="post.category.url">
                                            {{post.category.name}}
                                        </a>
                                    </div>
                                </div>
                                <a class="post-title">
                                    <h1>
                                        {{post.name }}
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                            <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </h1>
                                </a>
                                <div class="post-meta">
                                    <div class="post-meta-content">
                                        <span class="post-auhor-date post-auhor-date-full">
                                            <a href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                               *ngIf="post.author">
                                                <img alt="" [src]="post.author.avatar"
                                                     class="avatar avatar-28 photo post-author-image"
                                                     width="28"
                                                     height="28">
                                            </a>
                                            <span *ngIf="post.author">
                                                <a href="#" class="post-author">
                                                    {{ post.author.firstName }} {{ post.author.lastName }}
                                                </a>,
                                            </span>
                                            <a class="post-date">
                                                {{ post.date_create }}
                                            </a>
                                        </span>
                                        <a href="#"
                                           class="post-comments">
                                            <i class="icon icon-bubble"></i>
                                            {{countComment}}
                                        </a>
                                        <span class="post-readtime">
                                            <i class="icon icon-clock"></i>
                                            {{ post.time_read }}
                                        </span>
                                        <span class="post-views">
                                            <i class="icon icon-eye"></i>
                                            {{post.count_read}}
                                        </span>
                                        <span class="responsive-post-read-later">
                                            <span class="post-read-later post-read-later-guest tooltipstered">
                                                <i class="fa fa-bookmark-o"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content post-single-content" [innerHTML]="post.text">

                            </div>
                            <div class="sh-page-links"></div>
                            <div class="post-tags-container" *ngIf="post.tags.length">
                                <div class="post-tags">
                                    <a href="#" class="post-tags-item" *ngFor="let tag of post.tags">
                                        {{ tag.tag }}
                                    </a>
                                </div>
                                <div class="sh-clear"></div>
                            </div>
                            <div class="post-content-share-mobile-contaner">
                                <div
                                    class="post-content-share post-content-share-bar post-content-share-mobile jssocials"
                                    style="">
                                    <div class="jssocials-shares">
                                        <div class="jssocials-share jssocials-share-twitter">
                                            <a target="_blank"
                                               href="https://twitter.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2Fhealth-tips-and-benefits-of-healthy-lifestyle-you-should-consider%2F&amp;text=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                               class="jssocials-share-link"><i
                                                class="fa fa-twitter jssocials-share-logo"></i></a></div>
                                        <div class="jssocials-share jssocials-share-facebook"><a target="_blank"
                                                                                                 href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2Fhealth-tips-and-benefits-of-healthy-lifestyle-you-should-consider%2F"
                                                                                                 class="jssocials-share-link"><i
                                            class="fa fa-facebook jssocials-share-logo"></i></a></div>
                                        <div class="jssocials-share jssocials-share-pinterest"><a target="_blank"
                                                                                                  href="https://pinterest.com/pin/create/bookmarklet/?&amp;url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2Fhealth-tips-and-benefits-of-healthy-lifestyle-you-should-consider%2F&amp;description=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                  class="jssocials-share-link"><i
                                            class="fa fa-pinterest jssocials-share-logo"></i></a></div>
                                        <div class="jssocials-share jssocials-share-whatsapp"><a target="_self"
                                                                                                 href="https://web.whatsapp.com/send?text=Health%20Tips%20And%20Benefits%20Of%20Healthy%20Lifestyle%20You%20Should%20Consider%20%E2%80%93%20Gillion%20Multi-Concept%20Magazine,%20News,%20Review%20WordPress%20Theme%0D%0Ahttps://gillion.shufflehound.com/2017/01/31/health-tips-and-benefits-of-healthy-lifestyle-you-should-consider/"
                                                                                                 class="jssocials-share-link"><i
                                            class="fa fa-whatsapp jssocials-share-logo"></i></a></div>
                                        <div class="jssocials-share jssocials-share-messenger"><a target="_self"
                                                                                                  href="fb-messenger://share?link=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2Fhealth-tips-and-benefits-of-healthy-lifestyle-you-should-consider%2F"
                                                                                                  class="jssocials-share-link"><i
                                            class="fa fa-commenting jssocials-share-logo"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sh-post-author sh-table" *ngIf="false">
                            <div class="sh-post-author-avatar sh-table-cell-top">
                                <a href="https://gillion.shufflehound.com/author/gillionshufflehound/">
                                    <img alt=""
                                         src="https://secure.gravatar.com/avatar/f88c13d62ba761a92211e266c22dbb1f?s=185&amp;d=mm&amp;r=g"
                                         class="avatar avatar-185 photo" width="185" height="185">
                                </a>
                            </div>
                            <div class="sh-post-author-info sh-table-cell-top" style="height: 152.5px;">
                                <div><a href="https://gillion.shufflehound.com/author/gillionshufflehound/"><h4>
                                    Gillion</h4></a>
                                    <div>Morbi erat orci, malesuada sed pulvinar in, dictum et risus. Aliquam erat
                                        volutpat. Nam eros lectus, tempor quis condimentum nec, viverra ac mi. Vivamus
                                        id ex sed quam egestas euismod a sit amet dolor. Mauris elementum odio a nibh
                                        congue suscipit.
                                    </div>
                                    <div class="sh-post-author-icons"><a href="http://#" target="_blank"><i
                                        class="fa fa-globe"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-facebook"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-twitter"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-instagram"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-linkedin"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-pinterest"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-tumblr"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-youtube"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <app-related-posts [posts]="similarPosts"></app-related-posts>
                    </article>
                    <app-comments [postId]="post.id" *ngIf="post != undefined"
                                  (changeCount)="changeCountComment($event)"
                    ></app-comments>
                </div>
            </div>
            <div id="sidebar" class="sidebar-right"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1230.65px;">
                    <div class="sidebar-container">
                        <div id="image-1" class="widget_sh_image widget-item widget_image">
                            <a href=""><img src="assets/images/ban_w2.png"></a>
                        </div>
                        <app-top-readers [posts]="topReaderPosts"></app-top-readers>
                        <app-random-image-posts [posts]="randomImagePosts"></app-random-image-posts>
                    </div>
                    <div class="resize-sensor"
                         style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div class="resize-sensor-expand"
                             style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 371px; height: 1378px;"></div>
                        </div>
                        <div class="resize-sensor-shrink"
                             style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div
                                style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTmp>
    <article class="post-item post-item-single post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-health tag-lifestyle tag-long-life tag-tips">
        <app-loader
            [image]="true"
            [heightImage]="600"
            [widthImage]="840"
            [inline]="false"
            [lines]="25"
            [lineWidth]="100"
        ></app-loader>
    </article>
</ng-template>
