<div id="posts_categories_tabs-1" class="widget_facebook widget-item widget_posts_categories_tabs">
    <div class="sh-widget-poststab sh-widget-posts-categories">
        <div class="sh-widget-title-styling">
            <div class="sh-table">
                <div class="sh-table-cell">
                    <h3 class="widget-title">
                        В мире и авто
                    </h3>
                </div>
                <div class="sh-table-cell">
                    <div class="sh-widget-poststab-title">
                        <ul class="nav nav-tabs sh-tabs-stying"
                            role="tablist">
                            <li role="presentation"
                                class=" active"><a
                                href="#tab-Pm49UTLDvJuyiIphECqO-1"
                                role="tab"
                                data-toggle="tab"> Авто
                            </a></li>
                            <li role="presentation"
                                class=""><a
                                href="#tab-Pm49UTLDvJuyiIphECqO-2"
                                role="tab"
                                data-toggle="tab"> В мире
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"
                 id="tab-Pm49UTLDvJuyiIphECqO-1">
                <div
                    class="sh-widget-posts-slider-init slick-initialized slick-slider">
                    <div aria-live="polite"
                         class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 1035px; transform: translate3d(0px, 0px, 0px);"
                             role="listbox">
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide slick-current slick-active"
                                data-slick-index="0"
                                aria-hidden="false"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2017/02/09/tips-trick-every-pc-owner-have-to-know/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/w2-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2017/02/09/tips-trick-every-pc-owner-have-to-know/"
                                    class="post-overlay"
                                    tabindex="0">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2017/02/09/tips-trick-every-pc-owner-have-to-know/"
                                    tabindex="0">
                                    <h5 class="post-title">
                                        Tips &amp; Trick
                                        Every PC Owner Have
                                        To Know&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1542"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="0">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2017/02/09/tips-trick-every-pc-owner-have-to-know/"
                                                       class="post-date"
                                                       tabindex="0">
                                                      4 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2017/02/09/tips-trick-every-pc-owner-have-to-know/#comments"
                                        class="post-comments"
                                        tabindex="0"> <i
                                        class="icon icon-bubble"></i>
                                        0 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1542"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Lorem
                                        ipsum dolor sit
                                        amet, consectetur
                                        adipiscing elit. Nam
                                        laoreet, nunc et
                                        accumsan cursus,
                                        neque eros sodales
                                        lectus, in
                                        fermentum…</p>
                                </div>
                            </div>
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide"
                                data-slick-index="1"
                                aria-hidden="true"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2017/02/01/common-port-problem-of-new-laptops/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/12-1-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2017/02/01/common-port-problem-of-new-laptops/"
                                    class="post-overlay"
                                    tabindex="-1">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2017/02/01/common-port-problem-of-new-laptops/"
                                    tabindex="-1">
                                    <h5 class="post-title">
                                        Common Port Problem
                                        Of New
                                        Laptops&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="81"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="-1">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2017/02/01/common-port-problem-of-new-laptops/"
                                                       class="post-date"
                                                       tabindex="-1">
                                                      4 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2017/02/01/common-port-problem-of-new-laptops/#comments"
                                        class="post-comments"
                                        tabindex="-1">
                                        <i
                                            class="icon icon-bubble"></i>
                                        0 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="81"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Lorem
                                        ipsum dolor sit
                                        amet, consectetur
                                        adipiscing elit. Nam
                                        laoreet, nunc et
                                        accumsan cursus,
                                        neque eros sodales
                                        lectus, in
                                        fermentum…</p>
                                </div>
                            </div>
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide"
                                data-slick-index="2"
                                aria-hidden="true"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/6-1-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/"
                                    class="post-overlay"
                                    tabindex="-1">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                    <div
                                        class="post-review-svg">
                                        <div class="sh-pie"
                                             data-score="9.0"
                                             data-offset="12.4">
                                            <svg width="46"
                                                 height="46"
                                                 class="sh-pie-svg">
                                                <circle
                                                    r="21"
                                                    cx="23"
                                                    cy="23"
                                                    fill="transparent"
                                                    stroke-dasharray="128"
                                                    stroke-dashoffset="0"
                                                    style="stroke: rgba(247,200,40,0.6);stroke-dashoffset: 124px;">
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>
                                    <div
                                        class="post-review post-review-standard"
                                        style="background-color: #f7c828">
                                        <div
                                            class="post-review-score">
                                            9<span>.0</span>
                                        </div>
                                    </div>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/"
                                    tabindex="-1">
                                    <h5 class="post-title">
                                        How To Climb The
                                        Career Latter And
                                        Don’t Waste Your
                                        Youth&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="59"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="-1">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/"
                                                       class="post-date"
                                                       tabindex="-1">
                                                      4 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/#comments"
                                        class="post-comments"
                                        tabindex="-1">
                                        <i
                                            class="icon icon-bubble"></i>
                                        1 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="59"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Morbi fermentum purus
                                        metus, eu consequat
                                        est congue ut. Proin
                                        ut eros ac tortor
                                        imperdiet convallis
                                        nec eu dui.
                                        Curabitur…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="widget-slide-arrows sh-carousel-buttons-styling">
                    <button type="button"
                            class="slick-prev slick-arrow slick-disabled"
                            aria-disabled="true"
                            style="display: inline-block;"><i
                        class="icon icon-arrow-left-circle"></i>
                    </button>
                    <button
                        type="button"
                        class="slick-next slick-arrow"
                        style="display: inline-block;"
                        aria-disabled="false"><i
                        class="icon icon-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"
                 id="tab-Pm49UTLDvJuyiIphECqO-2">
                <div
                    class="sh-widget-posts-slider-init slick-initialized slick-slider">
                    <div aria-live="polite"
                         class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 1035px; transform: translate3d(0px, 0px, 0px);"
                             role="listbox">
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide slick-current slick-active"
                                data-slick-index="0"
                                aria-hidden="false"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2017/01/26/amazing-car-paint-jobs-we-seen-so-far/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/c-3-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2017/01/26/amazing-car-paint-jobs-we-seen-so-far/"
                                    class="post-overlay"
                                    tabindex="0">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2017/01/26/amazing-car-paint-jobs-we-seen-so-far/"
                                    tabindex="0">
                                    <h5 class="post-title">
                                        Amazing Car Paint
                                        Jobs We Seen So
                                        Far&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1513"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="0">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2017/01/26/amazing-car-paint-jobs-we-seen-so-far/"
                                                       class="post-date"
                                                       tabindex="0">
                                                      4 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2017/01/26/amazing-car-paint-jobs-we-seen-so-far/#comments"
                                        class="post-comments"
                                        tabindex="0"> <i
                                        class="icon icon-bubble"></i>
                                        0 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1513"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Lorem
                                        ipsum dolor sit
                                        amet, consectetur
                                        adipiscing elit. Nam
                                        laoreet, nunc et
                                        accumsan cursus,
                                        neque eros sodales
                                        lectus, in
                                        fermentum…</p>
                                </div>
                            </div>
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide"
                                data-slick-index="1"
                                aria-hidden="true"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2016/06/04/porsche-cayman-re-style-is-on-the-way/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/c-4-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2016/06/04/porsche-cayman-re-style-is-on-the-way/"
                                    class="post-overlay"
                                    tabindex="-1">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2016/06/04/porsche-cayman-re-style-is-on-the-way/"
                                    tabindex="-1">
                                    <h5 class="post-title">
                                        Porsche Cayman
                                        Re-style Is On The
                                        Way&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1516"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="-1">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2016/06/04/porsche-cayman-re-style-is-on-the-way/"
                                                       class="post-date"
                                                       tabindex="-1">
                                                      5 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2016/06/04/porsche-cayman-re-style-is-on-the-way/#comments"
                                        class="post-comments"
                                        tabindex="-1">
                                        <i
                                            class="icon icon-bubble"></i>
                                        0 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1516"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Lorem
                                        ipsum dolor sit
                                        amet, consectetur
                                        adipiscing elit. Nam
                                        laoreet, nunc et
                                        accumsan cursus,
                                        neque eros sodales
                                        lectus, in
                                        fermentum…</p>
                                </div>
                            </div>
                            <div
                                class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1 sh-widget-posts-categories-item slick-slide"
                                data-slick-index="2"
                                aria-hidden="true"
                                style="width: 321px;"
                                tabindex="-1" role="option">
                                <div
                                    href="https://gillion.shufflehound.com/2016/06/04/what-you-need-to-know-about-new-speed-limit-restrictions/"
                                    class="post-thumbnail">
                                    <img
                                        src="assets/images/c-5-420x265.jpg"
                                        class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                        alt="" width="420"
                                        height="265"> <a
                                    href="https://gillion.shufflehound.com/2016/06/04/what-you-need-to-know-about-new-speed-limit-restrictions/"
                                    class="post-overlay"
                                    tabindex="-1">
                                    <div
                                        class="post-overlay-content">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                </div>
                                <a
                                    href="https://gillion.shufflehound.com/2016/06/04/what-you-need-to-know-about-new-speed-limit-restrictions/"
                                    tabindex="-1">
                                    <h5 class="post-title">
                                        What You Need To
                                        Know About New Speed
                                        Limit
                                        Restrictions&nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1518"><i
                                        class="fa fa-bookmark-o"></i></span>
                                    </h5>
                                </a>
                                <div class="post-meta">
                                    <div
                                        class="post-meta-content">
                                                  <span
                                                      class="post-auhor-date">
                                                    <span> <a
                                                        href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                        class="post-author"
                                                        tabindex="-1">Gillion</a></span>,
                                                    <a href="https://gillion.shufflehound.com/2016/06/04/what-you-need-to-know-about-new-speed-limit-restrictions/"
                                                       class="post-date"
                                                       tabindex="-1">
                                                      5 years ago
                                                    </a> </span> <a
                                        href="https://gillion.shufflehound.com/2016/06/04/what-you-need-to-know-about-new-speed-limit-restrictions/#comments"
                                        class="post-comments"
                                        tabindex="-1">
                                        <i
                                            class="icon icon-bubble"></i>
                                        0 </a> <span
                                        class="responsive-post-read-later">
                                                    &nbsp;<span
                                        class="post-read-later post-read-later-guest tooltipstered"
                                        href="#login-register"
                                        data-type="add"
                                        data-id="1518"><i
                                        class="fa fa-bookmark-o"></i></span>
                                                  </span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p>Lorem
                                        ipsum dolor sit
                                        amet, consectetur
                                        adipiscing elit. Nam
                                        laoreet, nunc et
                                        accumsan cursus,
                                        neque eros sodales
                                        lectus, in
                                        fermentum…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="widget-slide-arrows sh-carousel-buttons-styling">
                    <button type="button"
                            class="slick-prev slick-arrow slick-disabled"
                            aria-disabled="true"
                            style="display: inline-block;"><i
                        class="icon icon-arrow-left-circle"></i>
                    </button>
                    <button
                        type="button"
                        class="slick-next slick-arrow"
                        style="display: inline-block;"
                        aria-disabled="false"><i
                        class="icon icon-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
