.search-error-panel {
    background-color: #f63a4c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: bold;
}
.sh-pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
