<div class="sh-blog-fancy-title-container sh-blog-fancy-title-container-sides">
    <h2 class="sh-blog-fancy-title">Железо</h2>
</div>
<div class="sh-blog-standard-posts blog-posts-3JfeQsa7pV">
    <div *ngIf="list.length else loadingTmp"
         class="sh-group blog-list blog-style-left-mini blog-style-left-mini-element">
        <article *ngFor="let item of list"
            class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-animals category-guide tag-animal tag-deer tag-epic">
            <div class="post-container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 post-container-left">
                        <div class="post-thumbnail">
                            <div class="sh-ratio">
                                <div class="sh-ratio-container">
                                    <div class="sh-ratio-content"
                                         [style]="'background-image: url('+ item.main_image +');'">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 post-container-right">
                        <div class="post-content-container"><a
                            [href]="item.url"
                            class="post-title">
                            <h2>
                                {{ item.name }}
                                <span class="post-read-later post-read-later-guest tooltipstered">
                                    <i class="fa fa-bookmark-o"></i>
                                </span>
                            </h2>
                        </a>
                            <div class="post-meta">
                                <div class="post-meta-content">
                                    <span class="post-auhor-date">
                                        <span *ngIf="item.author != undefined">
                                            <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                                Gillion
                                            </a>,
                                        </span>
                                        <a [href]="item.url" class="post-date">
                                            {{ item.date_create }}
                                        </a>
                                    </span>
                                    <a [href]="item.url+'#comments'" class="post-comments" *ngIf="item.count_comment">
                                        <i class="icon icon-bubble"></i>
                                        {{item.count_comment }}
                                    </a>
                                    <span class="post-readtime" *ngIf="item.time_read != undefined">
                                        <i class="icon icon-clock"></i>
                                            {{ item.time_read }} мин. <span>чтения</span>
                                    </span>
                                    <span class="responsive-post-read-later">
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                            <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="post-content"[innerHTML]="item.preview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<ng-template #loadingTmp>
    <div class="sh-group blog-list blog-style-left-mini blog-style-left-mini-element">
        <article
            *ngFor="let item of [1,2,3,4]"
            class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-animals category-guide tag-animal tag-deer tag-epic">
            <div class="post-container">
                <app-loader
                    [image]="true"
                    [heightImage]="195"
                    [widthImage]="260"
                    [inline]="true"
                    [lines]="6"
                ></app-loader>
            </div>
        </article>
    </div>
</ng-template>
