.reset-form-page{
    margin-bottom: 100px;
}
.reset-password-form {
    max-width: 60%;
    margin: auto;
}
.woocommerce form.reset {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
}
form.reset button {
    margin-right: 0;
    background-color: #f63a4c;
    color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
}
.justify-rigth{
    display: flex;
    justify-content: flex-end;
}
.form-error {
    padding: 10px !important;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px !important;
    border-color: #f63a4c;
}
.alert-error {
    color: #f63a4c;
}
