<app-breadcrumbs title="Восстановление пароля" [list]="breadcrumbList"></app-breadcrumbs>
<div class="content-container sh-page-layout-default reset-form-page">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="page-content  sh-text-content">
                <div class="page-content">
                    <div class="woocommerce reset-password-form">
                        <ng-container *ngIf="!loading else loadingTmp">
                            <form class="woocommerce-form woocommerce-form-reset reset" method="post" [formGroup]="form">
                                <p class="form-row form-error" *ngIf="responseError != ''">
                                    {{responseError}}
                                </p>
                                <p class="form-row form-success" *ngIf="responseText != ''" [innerHTML]="responseText"></p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password">Придумайте новый пароль
                                        <span class="required">*</span>
                                    </label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text"
                                           name="password"
                                           id="password"
                                           autocomplete="password"
                                           formControlName="password"
                                           (input)="inputText()"
                                           [class.form-error]="passwordError!=''"
                                    >
                                    <span class="alert alert-error" *ngIf="passwordError!=''">{{ passwordError }}</span>
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="confirmPassword">Подтверждение пароля
                                        <span class="required">*</span>
                                    </label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text"
                                           name="confirmPassword"
                                           id="confirmPassword"
                                           autocomplete="confirmPassword"
                                           formControlName="confirmPassword"
                                           (input)="inputText()"
                                           [class.form-error]="confirmPasswordError!=''"
                                    >
                                    <span class="alert alert-error" *ngIf="confirmPasswordError!=''">{{ confirmPasswordError }}</span>
                                </p>
                                <p class="form-row form-button-row justify-rigth">
                                    <button type="submit" class="woocommerce-button button woocommerce-form-reset__submit" (click)="formSubmit($event)">
                                        Отправить
                                    </button>
                                </p>
                            </form>
                        </ng-container>
                    </div>
                    <div class="sh-clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingTmp>
            <app-loader
                [image]="false"
                [heightImage]="0"
                [widthImage]="0"
                [inline]="false"
                [lines]="4"
                [lineWidth]="100"
            ></app-loader>
</ng-template>
