<app-breadcrumbs
    *ngIf="!loading"
    [title]="'Профиль пользователя'"
    [list]="[{name:'Профиль пользователя', url:null}]"
></app-breadcrumbs>
<div class="content-container sh-page-layout-default">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="content-layout-standard ">
                <div class="profile-wrap" *ngIf="!loading else loadingTmp">
                    <div id="change_pass">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                <h2>Смена пароля</h2></div>
                            <div class="modal-body">
                                <form id="w0" action="/profile/changepassword/1" method="post" class="form-horizontal"><input
                                    type="hidden" name="_csrf"
                                    value="lKLQ-Rsx9GnN60LM0vADeiUQFuLaY_mAo5HzLrjdHWDF1Z2XUASkXJKINPSwqkY2b2FnmLNXtM_k-cJt3JNpAg==">
                                    <div class="form-group"><label for="pass_change"
                                                                   class="col-lg-4 col-md-4 col-sm-4 control-label"> Пароль </label>
                                        <div class="col-lg-8 col-md-8 col-sm-8"><input type="password" id="pass_change"
                                                                                       name="password" value=""
                                                                                       class="form-control"></div>
                                    </div>
                                    <div class="form-group"><label for="pass_confirm"
                                                                   class="col-lg-4 col-md-4 col-sm-4 control-label"> Подтверждение
                                        пароля</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8"><input type="password" id="pass_confirm"
                                                                                       name="password_confirm" value=""
                                                                                       class="form-control"></div>
                                        <div class="col-lg-8"><input type="hidden" id="pass_id" name="id" value="1"
                                                                     class="form-control col-lg-6"></div>
                                    </div>
                                    <div class="form-group buttons">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary">Изменить</button>
                                            <button type="reset" data-dismiss="modal" class="btn btn-default">Отмена</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="profile">
                        <div class="user-avatar user-left-column">
                            <div class="user-left_avatar">
                                <img [src]="user.avatar" alt="" class="avatar img-circle">
                            </div>
                            <div class="user-left_buttons">
                                <button class="btn btn-profile">Изменить аватар</button>
                                <button class="btn btn-profile">Редактировать</button>
                                <button class="btn btn-profile">Избранное</button>
                            </div>
                        </div>
                        <div class="user-profile user-rigth-column">
                                <h2>Супер Админ</h2>
                                <hr>
                                <dl class="dl-horizontal-profile">
                                    <dt>Nickname</dt>
                                    <dd>admin</dd>
                                    <dt>Имя</dt>
                                    <dd>Супер Админ</dd>
                                    <dt>Email</dt>
                                    <dd>sidorenko.iv@mail.ru</dd>
                                    <dt>Рейтинг</dt>
                                    <dd>0</dd>
                                    <dt>Дата рождения</dt>
                                    <dd>05.02.1987</dd>
                                    <dt>Пол</dt>
                                    <dd>Мужской</dd>
                                    <dt>Дата регистрации</dt>
                                    <dd>1 янв. 1970 г., 03:00:00</dd>
                                    <dt>Последний визит</dt>
                                    <dd>29 мая 2021 г., 10:28:17</dd>
                                </dl>
                                <hr>
                                <h5><span class="entypo-arrows-ccw"></span>Привязать профиль к социальным сетям</h5>
                                <div class="social-merge-box">
                                    <div class="social-merge_item">
                                        <div class="sitem_image-box"><img src="/images/social/vk.png" alt="vk"></div>
                                        <div class="sitem_label">VK</div>
                                        <a href="/user/auth?authclient=vkontakte" class="btn btn-social btn-merged">
                                            Отключить </a></div>
                                    <div class="social-merge_item">
                                        <div class="sitem_image-box"><img src="/images/social/facebook.png" alt="facebook">
                                        </div>
                                        <div class="sitem_label">Facebook</div>
                                        <a href="/user/auth?authclient=facebook" class="btn btn-social ">
                                            Подключить </a></div>
                                    <div class="social-merge_item">
                                        <div class="sitem_image-box"><img src="/images/social/twitter.png" alt="twitter">
                                        </div>
                                        <div class="sitem_label">Twitter</div>
                                        <a href="/user/auth?authclient=twitter" class="btn btn-social ">
                                            Подключить </a></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTmp>
    loading...
</ng-template>
