<app-breadcrumbs
    *ngIf="!loading"
    [title]="'Профиль пользователя'"
    [list]="[{name:'Профиль пользователя', url:null}]"
></app-breadcrumbs>
<div class="content-container sh-page-layout-default">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="content-layout-standard ">
                <div class="profile-wrap" *ngIf="!loading else loadingTmp">
                    <div id="change_pass" [ngClass]="showModal ? 'showed' : 'hidden'" (click)="hideModal()">
                        <div class="modal-dialog" (click)="clickOnModal($event)">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" (click)="hideModal()">×</button>
                                    <h2>Смена пароля</h2></div>
                                <div class="modal-body">
                                    <form method="post" class="form-horizontal" [formGroup]="form" (ngSubmit)="submitForm($event)">
                                        <div class="form-group">
                                            <label for="pass_change" class="col-lg-4 col-md-4 col-sm-4 control-label">
                                                Пароль
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                <input type="password" id="pass_change"
                                                       name="password"
                                                       class="form-control"
                                                       formControlName="password"
                                                       (input)="inputPassword()"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pass_confirm" class="col-lg-4 col-md-4 col-sm-4 control-label">
                                                Подтверждение пароля
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                <input type="password" id="pass_confirm"
                                                       name="password_confirm"
                                                       class="form-control"
                                                       formControlName="confirmPassword"
                                                       (input)="inputPassword()"
                                                >
                                            </div>
                                        </div>
                                        <div class="alert" #infoPassword></div>
                                        <div class="form-group buttons">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary">Изменить</button>
                                                <button type="reset" data-dismiss="modal" class="btn btn-default" (click)="hideModal()">Отмена</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="user-avatar user-left-column">
                            <div class="user-left_avatar">
                                <img [src]="user.avatar" alt="" class="avatar">
                            </div>
                            <div class="user-left_buttons">
                                <a (click)="toggleModal()" class="btn btn-profile">Изменить пароль</a>
                                <a [routerLink]="['/profile', 'edit']" class="btn btn-profile">Редактировать</a>
                                <a [routerLink]="['/profile', 'favorite']" class="btn btn-profile">Избранное</a>
                            </div>
                        </div>
                        <div class="user-profile user-rigth-column">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTmp>
    loading...
</ng-template>
