<div class="post-related-title post-slide-arrows-container" *ngIf="!loading && list.length > 0">
    <h2 class="post-single-title"> Похожие статьи </h2>
</div>
<div class="post-related" *ngIf="!loading else loadingTmpl">
    <div class="post-related-item" *ngFor="let item of list">
        <article class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-tech tag-guide tag-how-to tag-tech">
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 [style]="'background-image: url('+ item.main_image +');'"></div>
                        </div>
                    </div>
                    <a [href]="item.url" class="post-overlay">
                        <div class="post-overlay-content">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container">
                        <div class="post-categories">
                            <a [href]="'/news/category/'+item.cat_translit">
                                {{item.category}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container">
                    <a [href]="item.url" class="post-title">
                        <h4>
                            {{item.name}}
                            <span class="post-read-later post-read-later-guest tooltipstered">
                                <i class="fa fa-bookmark-o"></i>
                            </span>
                        </h4>
                    </a>
                    <div class="post-meta">
                        <div class="post-meta-content">
                            <span class="post-auhor-date">
                                <span *ngIf="item.author != undefined">
                                    <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                        Gillion
                                    </a>,
                                </span>
                                <a [href]="item.url" class="post-date">
                                    {{item.date_create}}
                                </a>
                            </span>
                            <span class="post-readtime" *ngIf="false">
                                <i class="icon icon-clock"></i>
                                3 min <span>read</span>
                            </span>
                            <span class="responsive-post-read-later">
                                <span class="post-read-later post-read-later-guest tooltipstered">
                                    <i class="fa fa-bookmark-o"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<ng-template #loadingTmpl>
    <div class="post-related">
        <div class="post-related-item" *ngFor="let item of [1,2,3]">
            <app-loader
                [image]="true"
                [heightImage]="182"
                [widthImage]="260"
                [inline]="false"
                [lines]="3"
                [lineWidth]="80"
            ></app-loader>
        </div>
    </div>
</ng-template>
