<div class="vc_row wpb_row vc_row-fluid">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="blog-slider-container-style9">
                        <div class="carousel blog-slider blog-slider-style9">
                            <swiper
                                [config]="config"
                            >
                                    <ng-template swiperSlide *ngFor="let item of list | keyvalue" class="swiper-slide slide blog-grid-list">
                                        <div class="blog-grid-large blog-grid-item1" *ngIf="item.value[0] !== undefined">
                                            <div class="blog-grid-item-container blog-slider-item"
                                                 [style]="'background-image: url('+ item.value[0].main_image +');'">
                                                <div class="blog-slider-container">
                                                    <div class="blog-slider-content">
                                                        <div class="blog-slider-content-details">
                                                            <div class="post-categories-container">
                                                                <div class="post-categories">
                                                                    <a [href]="'/news/category/' + item.value[0].cat_translit" tabindex="-1">
                                                                        {{ item.value[0].category }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <a [href]="item.value[0].url" tabindex="-1">
                                                                <h2 class="post-title">
                                                                    {{ item.value[0].name }}
                                                                </h2>
                                                            </a>
                                                            <div class="post-meta">
                                                                <div class="post-meta-content">
                                                                    <span class="post-auhor-date post-auhor-date-full">
                                                                        <a [href]="item.value[0].url" class="post-date" tabindex="-1">
                                                                            {{ item.value[0].date_create }}
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-grid-small blog-grid-item2" *ngIf="item.value[1] !== undefined">
                                            <div class="blog-grid-item-container blog-slider-item"
                                                 [style]="'background-image: url('+ item.value[1].main_image +');'">
                                                <div class="blog-slider-container">
                                                    <div class="blog-slider-content">
                                                        <div class="blog-slider-content-details">
                                                            <div class="post-categories-container">
                                                                <div class="post-categories">
                                                                    <a [href]="'/news/category/' + item.value[1].cat_translit" tabindex="-1">
                                                                        {{ item.value[1].category }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <a [href]="item.value[1].url" tabindex="-1">
                                                                <h2 class="post-title">{{ item.value[1].name }}</h2>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-grid-small blog-grid-item3" *ngIf="item.value[2] !== undefined">
                                            <div class="blog-grid-item-container blog-slider-item"
                                                 [style]="'background-image: url('+ item.value[2].main_image +');'">
                                                <div class="blog-slider-container">
                                                    <div class="blog-slider-content">
                                                        <div class="blog-slider-content-details">
                                                            <div class="post-categories-container">
                                                                <div class="post-categories">
                                                                    <a [href]="'/news/category/' + item.value[2].cat_translit" tabindex="-1">
                                                                        {{ item.value[2].category }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <a [href]="item.value[2].url" tabindex="-1">
                                                                <h2 class="post-title">
                                                                    {{ item.value[2].name }}
                                                                </h2>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-grid-medium blog-grid-item4" *ngIf="item.value[3] !== undefined">
                                            <div class="blog-grid-item-container blog-slider-item"
                                                 [style]="'background-image: url('+ item.value[3].main_image +');'">
                                                <div class="blog-slider-container">
                                                    <div class="blog-slider-content">
                                                        <div class="blog-slider-content-details">
                                                            <div class="post-categories-container">
                                                                <div class="post-categories">
                                                                    <a [href]="'/news/category/' + item.value[3].cat_translit" tabindex="-1">
                                                                        {{ item.value[3].category }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <a [href]="item.value[3].url" tabindex="-1">
                                                                <h2 class="post-title">{{ item.value[3].name }}</h2>
                                                            </a>
                                                            <div class="post-meta">
                                                                <div
                                                                    class="post-meta-content">
                                                                    <span class="post-auhor-date post-auhor-date-full">
                                                                        <a [href]="item.value[3].url" class="post-date" tabindex="-1">
                                                                            {{ item.value[3].date_create }}
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                            </swiper>
                            <div class="swiper-button-prev">
                                <i class="icon icon-arrow-left-circle"></i>
                            </div>
                            <div class="swiper-button-next">
                                <i class="icon icon-arrow-right-circle"></i>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
