<div id="posts_slider-8" class="widget_facebook widget-item widget_posts_slider">
    <div class="widget-slide-arrows-container">
        <div class="sh-widget-title-styling">
            <h3 class="widget-title">Самые читаемые статьи</h3>
        </div>
    </div>
    <ngx-slick-carousel class="sh-widget-posts-slider sh-widget-posts-slider-init"
            #slickModal="slick-carousel"
            [config]="slideConfig"
    >
        <div ngxSlickItem class="sh-widget-posts-slider-group" *ngFor="let item of list | keyvalue">
            <ng-container *ngFor="let slide of item.value; index as key">
                <ng-container *ngIf="key == 0">
                    <div class="sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">
                    <div class="post-thumbnail">
                        <img [src]="slide.main_image"
                            class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                            [alt]="slide.name" width="420" height="265">
                        <a [href]="slide.url" class="post-overlay">
                            <div class="post-overlay-content">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </div>
                    <a [href]="slide.url">
                        <h5 class="post-title">
                            {{ slide.name }}
                            <span class="post-read-later post-read-later-guest tooltipstered">
                                <i class="fa fa-bookmark-o"></i>
                            </span>
                        </h5>
                    </a>
                    <div class="post-meta">
                        <div class="post-meta-content">
                            <span class="post-auhor-date">
                                <span *ngIf="slide.author != null">
                                    <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                        {{ slide.author }}
                                    </a>,
                                </span>
                                <a [href]="slide.url" class="post-date">
                                    {{ slide.date_create }}
                                </a>
                            </span>
                            <a [href]="slide.url+'#comments'" class="post-comments" *ngIf="slide.count_comment">
                                <i class="icon icon-bubble"></i>
                                {{slide.count_comment }}
                            </a>
                            <span class="responsive-post-read-later">
                                <span class="post-read-later post-read-later-guest tooltipstered">
                                    <i class="fa fa-bookmark-o"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="post-content" [innerHTML]="slide.preview"></div>
                </div>
                </ng-container>
                <ng-container *ngIf="key>0">
                    <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1">
                        <a [href]="slide.url" class="sh-widget-posts-slider-thumbnail sh-post-review-mini"
                           [style]="'background-image: url('+ slide.main_image +');'">
                            <div class="post-overlay-small"></div>
                        </a>
                        <div class="sh-widget-posts-slider-content">
                            <a [href]="slide.url">
                                <h5 class="post-title">
                                    {{ slide.name }}
                                    <span class="post-read-later post-read-later-guest tooltipstered">
                                        <i class="fa fa-bookmark-o"></i>
                                    </span>
                                </h5>
                            </a>
                            <div class="post-meta">
                                <div class="post-meta-content">
                                    <a [href]="slide.url" class="post-date">
                                        {{ slide.date_create }}
                                    </a>
                                    <a [href]="slide.url+'#comments'" class="post-comments" *ngIf="slide.count_comment">
                                        <i class="icon icon-bubble"></i>
                                        {{slide.count_comment }}
                                    </a>
                                    <span class="responsive-post-read-later">
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                            <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ngx-slick-carousel>
    <div class="widget-slide-arrows sh-carousel-buttons-styling">
        <button type="button" class="slick-prev slick-arrow slick-disabled" (click)="slickModal.slickPrev()">
            <i class="icon icon-arrow-left-circle"></i>
        </button>
        <button type="button" class="slick-next slick-arrow" (click)="slickModal.slickNext()">
            <i class="icon icon-arrow-right-circle"></i>
        </button>
    </div>
</div>

<ng-template #loadingTmpl>

</ng-template>
