.mc4wp-form input[type="submit"]{
    background-color: #f63a4c;
}
.mc4wp-response {
    color: #f63a4c;
    margin-bottom: 10px;
    font-size: 0.85em;
}
.mc4wp-form-fields .invalid-state{
    border-color: #f63a4c !important;
}
.mc4wp-response-success {
    color: #00d082;
    margin-bottom: 5px;
}
