<div class="sh-widget-title-styling">
    <h3 class="widget-title">Subscribe</h3>
</div>
<form id="mc4wp-form-2"
      class="mc4wp-form mc4wp-form-848" method="post"
      data-id="848" data-name="">
    <div class="mc4wp-form-fields">
        <p><input type="email" name="EMAIL"
                  placeholder="Your email address"
                  required=""></p>
        <p><input type="submit" value="Sign up"></p>
    </div>
    <label style="display: none !important;">Leave
        this field empty if you're human: <input
            type="text" name="_mc4wp_honeypot"
            tabindex="-1"
            autocomplete="off"></label><input
    type="hidden" name="_mc4wp_timestamp"
    value="1610124384"><input type="hidden"
                              name="_mc4wp_form_id"
                              value="848"><input
    type="hidden" name="_mc4wp_form_element_id"
    value="mc4wp-form-2">
    <div class="mc4wp-response"></div>
</form>
<p class="widget-quote-description">* You will receive
    the latest news and updates on
    your favorite celebrities!</p>
