<div class="sh-widget-title-styling">
    <h3 class="widget-title">Подписка</h3>
</div>
<form class="mc4wp-form mc4wp-form-848" id="mc4wp-form-2" method="post" [formGroup]="form" (ngSubmit)="submitForm($event)">
    <div class="mc4wp-form-fields">
        <p>
            <input name="EMAIL" placeholder="Ваша электронная почта"
                   required=""
                   type="email"
                   formControlName="email"
                   (input)="clearError()"
                   [class.invalid-state]="invalidState"
            >
        </p>
        <p>
            <input type="submit" value="Отправить">
        </p>
    </div>
    <label style="display: none !important;">
        Тест на бота:
        <input autocomplete="off" name="honeypot"
            tabindex="-1"
            type="text"
            formControlName="fuckingBot"
        >
    </label>
    <div class="mc4wp-response" #subscribeError></div>
    <div class="mc4wp-response-success" #subscribeSucces></div>
</form>
<p class="widget-quote-description">* Вы будете получать последние новости</p>
