<div class="blog-posts-fancy sh-blog-fancy">
    <div class="sh-blog-fancy-title-container">
        <h2 class="sh-blog-fancy-title">
            Гаджеты </h2>
    </div>
    <div *ngIf="list.length">
        <ngx-slick-carousel class="carousel blog-fancy-carousel-title slider-arrows-sides blog-style-mini1 columns3 blog-posts-disable-carousel"
                                 #slickModal="slick-carousel"
                                 [config]="slideConfig"
    >
        <article ngxSlickItem
                 class="post-item post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-best-of tag-bt-speaker tag-top"
                 style="width: 291px;"
                 *ngFor="let item of list"
        >
            <div class="post-container">
                <div class="post-thumbnail">
                    <div class="sh-ratio">
                        <div class="sh-ratio-container">
                            <div class="sh-ratio-content"
                                 [style]="'background-image: url('+ item.main_image +');'">
                            </div>
                        </div>
                    </div>
                    <a [href]="item.url"
                       class="post-overlay">
                        <div class="post-overlay-content">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <div class="post-categories-container">
                        <div class="post-categories">
                            <a [href]="'/news/category/'+item.cat_translit">
                                {{ item.category }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content-container">
                    <a [href]="item.url"
                       class="post-title">
                        <h4>
                            {{ item.name }}
                            <span class="post-read-later post-read-later-guest tooltipstered">
                                        <i class="fa fa-bookmark-o"></i>
                                    </span>
                        </h4>
                    </a>
                    <div class="post-meta">
                        <div class="post-meta-content">
                            <span class="post-auhor-date">
                                <span *ngIf="item.author != undefined">
                                    <a href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                       class="post-author"
                                       tabindex="0">
                                        Gillion
                                    </a>,
                                </span>
                                <a [href]="item.url" class="post-date">
                                    {{ item.date_create }}
                                </a>
                            </span>
                            <span class="post-readtime" *ngIf="item.time_read != undefined">
                                <i class="icon icon-clock"></i>
                                    3 min <span>read</span>
                            </span>
                            <span class="responsive-post-read-later">
                                <span class="post-read-later post-read-later-guest tooltipstered">
                                    <i class="fa fa-bookmark-o"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </ngx-slick-carousel>
        <div class="widget-slide-arrows sh-carousel-buttons-styling">
            <button type="button" class="slick-prev slick-arrow" style="display: inline-block;"
                (click)="slickModal.slickPrev()"
            >
                <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="slick-next slick-arrow" style="display: inline-block;"
                (click)="slickModal.slickNext()"
            >
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="list.length == 0">
        <div class="carousel slider-arrows-sides blog-style-mini1 columns3 blog-posts-disable-carousel">
            <app-loader
                class="slider-item-loader"
                [image]="true"
                [heightImage]="200"
                [widthImage]="266"
                [inline]="false"
                [lines]="1"
                *ngFor="let i of [1,2,3]"
            ></app-loader>
        </div>
    </div>

</div>
