<div
    class="sh-categories blog-posts-categories-QNHyEmJIRO sh-categories-style2 style4">
    <div class="sh-categories-tabs">
        <div class="sh-categories-title">
            <h2> Топ категорий </h2>
        </div>
        <div class="sh-categories-line" style="width: 99%;">
            <div class="sh-categories-line-container"></div>
        </div>
        <div class="sh-categories-names">
            <ul class="nav nav-tab sh-tabs-stying sh-heading-font" role="tablist">
                <li role="presentation"
                    (click)="changeAllTab($event)"
                    [ngClass]="{active: currentTab == 1}"
                >
                    <a href="#tab-QNHyEmJIRO-0" role="tab" data-toggle="tab"> Все </a>
                </li>
                <li role="presentation"
                    *ngFor="let item of categories"
                    (click)="changeTab($event, item.category_id)"
                    [ngClass]="{active: item.category_id == currentTab}"
                >
                    <a [href]="'/news/category/'+ item.cat_translit">
                        {{ item.category }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-QNHyEmJIRO-0">
            <div class="row">
                <app-first-post [firstPost]="firstPost" [loading]="loading"></app-first-post>
                <app-smallpost [list]="randomList" [loading]="loading"></app-smallpost>
            </div>
        </div>
    </div>
</div>
