.blog-slider-style2 .blog-slider-item {
    margin: 0 7.5px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 100;
}
.vc_custom_bottom {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
