<app-breadcrumbs title="Регистрация пользователя" [list]="breadcrumbList"></app-breadcrumbs>
<div class="content-container sh-page-layout-default register-form-page">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="page-content  sh-text-content">
                <div class="page-content">
                    <div class="page-confirm-register-message">
                        На почту отправлено письмо для подтверждения активации. <br> Перейдите по ссылке в письме.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

