<app-breadcrumbs
    [title]="note.name"
    [list]="[{name:note.category.name, url:note.category.url}, {name:note.name, url:null}]"
></app-breadcrumbs>
<div class="content-container sh-page-layout-default">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="content-layout-standard ">
                <div class="blog-single blog-style-single blog-style-single-share  blog-blockquote-style2  blog-style-post-toptitle">
                    <article [id]="'post-'+note.id"
                        class="post-item post-item-single post type-post status-publish format-standard has-post-thumbnail hentry"
                        *ngIf="!loading else loadingTmp"
                    >
                        <div class="post-item-single-container">
                            <div class="post-content-share post-content-share-bar jssocials">
                                <div class="jssocials-shares">
                                    <div class="ya-share2" data-curtain data-color-scheme="whiteblack" data-limit="5"
                                         data-services="vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp">
                                    </div>
                                </div>
                            </div>
                            <div class="post-single-meta">
                                <div class="post-categories-container">
                                    <div class="post-categories">
                                        <a [href]="note.category.url">{{ note.category.name }}</a>
                                    </div>
                                </div>
                                <a class="post-title">
                                    <h2> {{ note.name }}
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                            <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </h2>
                                </a>
                                <div class="post-meta">
                                    <div class="post-meta-content">
                                        <span class="post-auhor-date post-auhor-date-full">
                                            <a href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                               *ngIf="note.author">
                                                <img alt="" [src]="note.author.avatar"
                                                      class="avatar avatar-28 photo post-author-image"
                                                      width="28"
                                                      height="28">
                                            </a>
                                            <span *ngIf="note.author">
                                                <a href="https://gillion.shufflehound.com/author/gillionshufflehound/" class="post-author">
                                                    {{ note.author.firstName }} {{ note.author.lastName }}
                                                </a>,
                                            </span>
                                            <a class="post-date">
                                                {{ note.date_create }}
                                            </a>
                                        </span>
                                        <a href="#" class="post-comments">
                                            <i class="icon icon-bubble"></i>
                                            {{countComment}}
                                        </a>
                                        <span class="post-readtime">
                                            <i class="icon icon-clock"></i>
                                            {{ note.time_read }}
                                        </span>
                                        <span class="post-views">
                                            <i class="icon icon-eye"></i>
                                            {{note.count_read}}
                                        </span>
                                        <span class="responsive-post-read-later">
                                            <span class="post-read-later post-read-later-guest tooltipstered" href="#login-register">
                                                <i class="fa fa-bookmark-o"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-type-content">
                                <div class="post-thumbnail">
                                    <img [src]="note.main_image" [alt]="note.name">
                                </div>
                            </div>
                            <div class="post-content post-single-content" [innerHTML]="note.text"></div>
                            <div class="sh-page-links"></div>
                            <div class="post-tags-container">
                                <div class="post-tags">
                                    <a class="post-tags-item post-tags-item-title"> Теги </a>
                                    <a href="#" class="post-tags-item"
                                        *ngFor="let tag of note.tags"
                                    >
                                        {{tag.tag}}
                                    </a>
                                </div>
                                <div class="sh-clear"></div>
                            </div>
                            <div class="post-content-share-mobile-contaner">
                                <div class="post-content-share post-content-share-bar post-content-share-mobile jssocials">
                                    <div class="jssocials-shares">
                                        <div class="jssocials-share jssocials-share-twitter">
                                            <a target="_blank" href="https://twitter.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2F5-ways-animals-will-help-you-get-more-business%2F&amp;text=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                class="jssocials-share-link">
                                                <i class="fa fa-twitter jssocials-share-logo"></i>
                                            </a>
                                        </div>
                                        <div class="jssocials-share jssocials-share-facebook">
                                            <a target="_blank" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2F5-ways-animals-will-help-you-get-more-business%2F"
                                                                                                 class="jssocials-share-link">
                                                <i class="fa fa-facebook jssocials-share-logo"></i>
                                            </a>
                                        </div>
                                        <div class="jssocials-share jssocials-share-pinterest">
                                            <a target="_blank" href="https://pinterest.com/pin/create/bookmarklet/?&amp;url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2F5-ways-animals-will-help-you-get-more-business%2F&amp;description=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                  class="jssocials-share-link">
                                                <i class="fa fa-pinterest jssocials-share-logo"></i>
                                            </a>
                                        </div>
                                        <div class="jssocials-share jssocials-share-whatsapp">
                                            <a target="_self" href="https://web.whatsapp.com/send?text=5%20Ways%20Animals%20Will%20Help%20You%20Get%20More%20Business%20%E2%80%93%20Gillion%20Multi-Concept%20Magazine,%20News,%20Review%20WordPress%20Theme%0D%0Ahttps://gillion.shufflehound.com/2017/01/31/5-ways-animals-will-help-you-get-more-business/"
                                                                                                 class="jssocials-share-link">
                                                <i class="fa fa-whatsapp jssocials-share-logo"></i>
                                            </a>
                                        </div>
                                        <div class="jssocials-share jssocials-share-messenger">
                                            <a target="_self" href="fb-messenger://share?link=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F01%2F31%2F5-ways-animals-will-help-you-get-more-business%2F"
                                                                                                  class="jssocials-share-link">
                                                <i class="fa fa-commenting jssocials-share-logo"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-nextprev [list]="nextPrevPosts"></app-nextprev>
                        <div class="sh-post-author sh-table" *ngIf="false">
                            <div class="sh-post-author-avatar sh-table-cell-top"><a
                                href="https://gillion.shufflehound.com/author/gillionshufflehound/">
                                <img alt="" src="https://secure.gravatar.com/avatar/f88c13d62ba761a92211e266c22dbb1f?s=185&amp;d=mm&amp;r=g"
                                     srcset="https://secure.gravatar.com/avatar/f88c13d62ba761a92211e266c22dbb1f?s=370&amp;d=mm&amp;r=g 2x"
                                     class="avatar avatar-185 photo"
                                     width="185"
                                     height="185">
                            </a></div>
                            <div class="sh-post-author-info sh-table-cell-top" style="height: 130px;">
                                <div><a href="https://gillion.shufflehound.com/author/gillionshufflehound/"><h4>
                                    Gillion</h4></a>
                                    <div>Morbi erat orci, malesuada sed pulvinar in, dictum et risus. Aliquam erat
                                        volutpat. Nam eros lectus, tempor quis condimentum nec, viverra ac mi. Vivamus
                                        id ex sed quam egestas euismod a sit amet dolor. Mauris elementum odio a nibh
                                        congue suscipit.
                                    </div>
                                    <div class="sh-post-author-icons"><a href="http://#" target="_blank"><i
                                        class="fa fa-globe"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-facebook"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-twitter"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-instagram"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-linkedin"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-pinterest"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-tumblr"></i></a><a href="#" target="_blank"><i
                                        class="fa fa-youtube"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <app-related-posts [posts]="similarPosts"></app-related-posts>
                    </article>
                    <app-comments [postId]="note.id" *ngIf="note != undefined"
                        (changeCount)="changeCountComment($event)"
                    ></app-comments>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTmp>
    <article class="post-item post-item-single post type-post status-publish format-standard has-post-thumbnail hentry">
        <app-loader
            [image]="true"
            [heightImage]="600"
            [widthImage]="840"
            [inline]="false"
            [lines]="25"
            [lineWidth]="100"
        ></app-loader>
    </article>
</ng-template>
