.reset-password-form {
    max-width: 60%;
    margin: auto;
}
.woocommerce form.reset{
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
}
.reset-form-page{
    margin-bottom: 100px;
}
.button.woocommerce-form-reset__submit {
    margin-right: 0;
    background-color: #f63a4c;
    color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
}
.woocommerce button.button:hover{
    background-color: #f63a4c;
    color: #fff;
}
.justify-rigth{
    display: flex;
    justify-content: flex-end;
}
