<app-breadcrumbs title="Восстановление пароля" [list]="breadcrumbList"></app-breadcrumbs>
<div class="content-container sh-page-layout-default reset-form-page">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="page-content  sh-text-content">
                <div class="page-content">
                    <div class="woocommerce reset-password-form">
                        <form class="woocommerce-form woocommerce-form-reset reset" method="post" [formGroup]="form">
                            <p class="form-row form-error" *ngIf="responseError != ''">
                                {{responseError}}
                            </p>
                            <p class="form-row form-success" *ngIf="responseText != ''">
                                {{ responseText }}
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="email">Email
                                    <span class="required">*</span>
                                </label>
                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text"
                                       name="email"
                                       id="email"
                                       autocomplete="email"
                                       formControlName="email"
                                       (input)="inputText()"
                                       [class.form-error]="emailError!=''"
                                >
                                <span class="alert alert-error" *ngIf="emailError!=''">{{ emailError }}</span>
                            </p>
                            <p class="form-row form-button-row justify-rigth">
                                <button type="submit" class="woocommerce-button button woocommerce-form-reset__submit" (click)="formSubmit($event)">
                                    Отправить
                                </button>
                            </p>
                        </form>
                    </div>
                    <div class="sh-clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
