.loader-line{
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    animation: loading 1.2s ease-in-out infinite;
    background-size: 400%;
    height: 15px;
    margin-bottom: 5px;

    .loader-line-box{
        width: 100%;
    }
}

.loader-image{
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    animation: loading 1.2s ease-in-out infinite;
    background-size: 400%;
    margin: 10px auto;
}
.loader-item{
    flex-direction: column;
}
.loader-item.inline-mode {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    flex-direction: row;

    .loader-image{
        margin: unset;
    }
    .loader-line-box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
    }
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
