.page-confirm-register-message {
    font-size: 26px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.page-confirm-register-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
