<app-breadcrumbs
    *ngIf="!loading"
    [title]="detail.name"
    [list]="[{name:'Галерея', url:'/gallery'},{name:detail.category.name, url:detail.category.url}, {name:detail.name, url:null}]"
></app-breadcrumbs>

<div class="content-container sh-page-layout-default">
    <div class="container entry-content">
        <div id="content-wrapper">
            <div id="content" class="blog-page-list sh-pagination-left">
                <div *ngIf="!loading else loadingTmp"
                     class="sh-group blog-list blog-style-masonry blog-style-masonry-card blog-dividing-line-on">
                    <div class="row">
                        <div class="image-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <img [src]="detail.filename" [alt]="detail.alt" class="image-prew" #image crossorigin="">
                        </div>
                        <div class="manual-size-box col-lg-3 col-md-3">
                            <div class="original-box">
                                <p class="original-size">
                                    Скачать оригинал:
                                </p>
                                <a href="#" class="original-size-link" (click)="downloadImage(detail.translit, $event, detail.resolution)">
                                    {{detail.resolution}}
                                </a>
                            </div>
                            <form action="#" id="resForm" target="_blank" class="form-inline form-change-resolution" [formGroup]="form">
                                <div class="preset-box-change"><p>Или выберите разрешение для своего устройства</p>
                                    <div class="preset-dropdown">
                                        <select id="selResolution" name="resolution" class="form-control" formControlName="formSelect">
                                            <option value=""></option>
                                            <optgroup [label]="group.key" *ngFor="let group of resolutionsList | keyvalue">
                                                <option [value]="item" *ngFor="let item of group.value">{{item}}</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="manual-box-change"><p>Указать вручную разрешение</p>
                                    <div class="manual-edit form-group">
                                        <input type="text" class="form-control" name="width" formControlName="formWidth">
                                        x
                                        <input type="text" class="form-control" name="heigth" formControlName="formHeigth">
                                        px
                                    </div>
                                </div>
                                <button type="submit" id="downImgBtn"
                                        class="btn btn-success"
                                        (click)="downloadImage(detail.translit, $event)"
                                        [disabled]="!customResolution"
                                >
                                    Скачать
                                </button>
                            </form>
                            <form action="/download/sobaka-v-pole" id="cropForm" target="_blank" method="post">
                                <div class="image-crop-box">
                                    <button id="btnCropAccept" class="btn btn-danger" (click)="activateCropMode($event)" *ngIf="!croppedMode">
                                        Обрезать
                                    </button>
                                    <button id="btnCropCancel" class="btn btn-default" (click)="destroyCrop($event)" *ngIf="croppedMode">
                                        Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTmp>
    <div class="sh-group blog-list blog-style-masonry blog-style-masonry-card blog-dividing-line-on">
        loading...
    </div>
</ng-template>

