<div class="sh-categories blog-posts-categories-ORlXknfHDN sh-categories-style5">
    <div class="sh-categories-tabs">
        <div class="sh-categories-title">
            <h2>
                Интернет и программы
            </h2>
        </div>
        <div class="sh-categories-line" style="width: 99%;">
            <div class="sh-categories-line-container"></div>
        </div>
        <div class="sh-categories-names">
            <ul class="nav nav-tab sh-tabs-stying sh-heading-font"
                role="tablist">
                <li (click)="changeAllTab($event)"
                    [ngClass]="{active: currentTab == 1}"
                >
                    <a data-toggle="tab" href="#tab-ORlXknfHDN-0">
                        Все
                    </a>
                </li>
                <li role="presentation" *ngFor="let category of categories"
                    (click)="changeTab($event, category.category_id)"
                    [ngClass]="{active: category.category_id == currentTab}"
                >
                    <a [href]="'/news/category/'+category.cat_translit"> {{category.category}} </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-ORlXknfHDN-0" role="tabpanel">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div *ngFor="let item of activeList | keyvalue | filterFor:0:2 ">
                        <div *ngIf="item.key == 0"
                            class="blog-mini-post-generic sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">
                            <div class="post-thumbnail">
                                <img alt=""
                                     class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                     height="265" [src]="item.value.main_image" width="420">
                                <a class="post-overlay" [href]="item.value.url">
                                    <div class="post-overlay-content">
                                        <span></span> <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <div class="post-categories-container"><a
                                    class="post-format-icon"
                                    [href]="item.value.url"><i
                                    class="ti-control-play"></i></a>
                                    <div class="post-categories">
                                        <a [href]="'/news/category/'+ item.value.cat_translit">{{item.value.category}}</a>
                                    </div>
                                </div>
                            </div>
                            <a [href]="item.value.url">
                                <h5 class="post-title">
                                    {{item.value.name}}
                                    <span class="post-read-later post-read-later-guest tooltipstered">
                                        <i class="fa fa-bookmark-o"></i></span>
                                </h5>
                            </a>
                            <div class="post-meta">
                                <div class="post-meta-content">
                                    <span class="post-auhor-date">
                                        <span *ngIf="item.value.author != undefined">
                                            <a class="post-author" href="https://gillion.shufflehound.com/author/gillionshufflehound/">Gillion</a>,
                                        </span>
                                        <a class="post-date" [href]="item.value.url">
                                            {{ item.value.date_create }}
                                        </a>
                                    </span>
                                    <a class="post-comments" [href]="item.value.url+'#comments'">
                                        <i class="icon icon-bubble"></i>
                                        {{item.value.count_comment}}
                                    </a>
                                    <span class="responsive-post-read-later">
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                              <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="post-content">
                                <div [innerHTML]="item.value.preview"></div>
                            </div>
                        </div>
                        <div *ngIf="item.key > 0" class="blog-mini-post blog-mini-post-small blog-mini-post-layout1">
                            <a class="blog-mini-post-thumb sh-post-review-mini"
                               [href]="item.value.url"
                               [style]="'background-image: url('+ item.value.main_image +');'">
                                <div class="post-overlay-small"></div>
                            </a>
                            <div class="blog-mini-post-content">
                                <div
                                    class="blog-mini-post-content-container">
                                    <a [href]="item.value.url">
                                        <h5 class="post-title">
                                            {{item.value.name}}
                                            <span class="post-read-later post-read-later-guest tooltipstered">
                                                <i class="fa fa-bookmark-o"></i></span>
                                        </h5>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-meta-content">
                                            <span class="post-auhor-date">
                                                <span *ngIf="item.value.author != undefined">
                                                    <a class="post-author" href="https://gillion.shufflehound.com/author/gillionshufflehound/">
                                                        Gillion
                                                    </a>,
                                                </span>
                                                <a class="post-date" [href]="item.value.url">
                                                    {{ item.value.date_create }}
                                                </a>
                                            </span>
                                            <span class="post-readtime" *ngIf="item.value.time_read != undefined">
                                                <i class="icon icon-clock"></i>
                                                3 min <span>read</span>
                                            </span>
                                            <span class="responsive-post-read-later">
                                                <span class="post-read-later post-read-later-guest tooltipstered">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let item of activeList | keyvalue | filterFor:3:5 ">
                        <div *ngIf="item.key == 3"
                             class="blog-mini-post-generic sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">
                            <div class="post-thumbnail">
                                <img alt=""
                                     class="attachment-gillion-landscape-small size-gillion-landscape-small wp-post-image"
                                     height="265" [src]="item.value.main_image" width="420">
                                <a class="post-overlay" [href]="item.value.url">
                                    <div class="post-overlay-content">
                                        <span></span> <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <div class="post-categories-container"><a
                                    class="post-format-icon"
                                    [href]="item.value.url"><i
                                    class="ti-control-play"></i></a>
                                    <div class="post-categories">
                                        <a [href]="'/news/category/'+ item.value.cat_translit">{{item.value.category}}</a>
                                    </div>
                                </div>
                            </div>
                            <a [href]="item.value.url">
                                <h5 class="post-title">
                                    {{item.value.name}}
                                    <span class="post-read-later post-read-later-guest tooltipstered">
                                        <i class="fa fa-bookmark-o"></i></span>
                                </h5>
                            </a>
                            <div class="post-meta">
                                <div class="post-meta-content">
                                    <span class="post-auhor-date">
                                        <span *ngIf="item.value.author != undefined">
                                            <a class="post-author" href="https://gillion.shufflehound.com/author/gillionshufflehound/">Gillion</a>,
                                        </span>
                                        <a class="post-date" [href]="item.value.url">
                                            {{ item.value.date_create }}
                                        </a>
                                    </span>
                                    <a class="post-comments" [href]="item.value.url+'#comments'">
                                        <i class="icon icon-bubble"></i>
                                        {{item.value.count_comment}}
                                    </a>
                                    <span class="responsive-post-read-later">
                                        <span class="post-read-later post-read-later-guest tooltipstered">
                                              <i class="fa fa-bookmark-o"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="post-content">
                                <div [innerHTML]="item.value.preview"></div>
                            </div>
                        </div>
                        <div *ngIf="item.key > 3" class="blog-mini-post blog-mini-post-small blog-mini-post-layout1">
                            <a class="blog-mini-post-thumb sh-post-review-mini"
                               [href]="item.value.url"
                               [style]="'background-image: url('+ item.value.main_image +');'">
                                <div class="post-overlay-small"></div>
                            </a>
                            <div class="blog-mini-post-content">
                                <div
                                    class="blog-mini-post-content-container">
                                    <a [href]="item.value.url">
                                        <h5 class="post-title">
                                            {{item.value.name}}
                                            <span class="post-read-later post-read-later-guest tooltipstered">
                                                <i class="fa fa-bookmark-o"></i></span>
                                        </h5>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-meta-content">
                                            <span class="post-auhor-date">
                                                <span *ngIf="item.value.author != undefined">
                                                    <a class="post-author" href="https://gillion.shufflehound.com/author/gillionshufflehound/">
                                                        Gillion
                                                    </a>,
                                                </span>
                                                <a class="post-date" [href]="item.value.url">
                                                    {{ item.value.date_create }}
                                                </a>
                                            </span>
                                            <span class="post-readtime" *ngIf="item.value.time_read != undefined">
                                                <i class="icon icon-clock"></i>
                                                3 min <span>read</span>
                                            </span>
                                            <span class="responsive-post-read-later">
                                                <span class="post-read-later post-read-later-guest tooltipstered">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="blog-mini-post-generic sh-widget-posts-slider-item sh-widget-posts-slider-item-large sh-widget-posts-slider-style1">

            </div>
        </div>
        <div class="col-md-6 col-sm-6">

        </div>
    </div>
</ng-template>
